<div class="cool-table-container">
  <table class="cool-table main_table" dir="rtl" border="0">
    <thead>
      <tr style="display: flex; padding: 40px">
        <th style="font-weight: bold; text-align: right; margin-left: 25px">
          שיווק ביצי מאכל ממשק {{ this.tatle_farm_code }} -
          {{ this.tatle_farm_name }}
        </th>
        <th style="font-weight: bold; text-align: right; margin-left: 25px">
          תאריך בקיעה: {{ this.flock_hatch_date | date : "dd/MM/yyyy" }} , מס
          להקה: {{ this.flock_num }}
        </th>

        <th style="font-weight: bold; text-align: right; margin-left: 30px">
          <div class="importBth">
            <div class="justify-content">
              <img
                style="width: 40px"
                class="logoIngStyle"
                src="assets/images/logo/excel.png"
                alt="Image"
                (click)="getExcelData()"
              />
            </div>
          </div>
        </th>
      </tr>

      <tr style="display: flex; padding: 40px 40px 0px 40px">
        <th style="font-weight: bold; text-align: right; margin-left: 30px">
          <div class="date-input-container">
            <label for="startDate">מתאריך:</label>
            <div class="input-group">
              <input
                placeholder="מתאריך"
                class="form-control"
                bsDatepicker
                [(ngModel)]="startDate"
                #dp="bsDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  (click)="toggleDatepicker()"
                >
                  <!-- Toggle button -->
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </th>

        <th style="font-weight: bold; text-align: right; margin-left: 30px">
          <div class="date-input-container">
            <label for="endDate">עד תאריך:</label>
            <div class="input-group">
              <input
                placeholder="עד תאריך"
                class="form-control"
                bsDatepicker
                [(ngModel)]="endDate"
                #dpTo="bsDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  (click)="toggleDatepickerTo()"
                >
                  <!-- Toggle button -->
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
        </th>

        <th style="font-weight: bold; text-align: right; margin-left: 30px">
          <div class="sort_main_grower">
            <label for="statusSelector2">מיון:</label>
            <div class="date-input-container">
              <select
                class="blue-date-input"
                id="statusSelector2"
                [(ngModel)]="splits"
              >
                <option value="ראשי" selected>מגדל ראשי</option>
                <option value="מפוצל">מפוצל</option>
              </select>
            </div>
          </div>
        </th>

        <th style="font-weight: bold; text-align: right; margin-top: 37px">
          <button (click)="search()" class="search-button">חפש</button>

          <button
            (click)="cleanInputFild()"
            class="search-button"
            style="background-color: rgb(150 150 150); margin-right: 10px"
          >
            נקה
          </button>
        </th>

        <th style="font-weight: bold; text-align: right; margin-top: 37px">
          סהכ ({{ this.data.length }})
        </th>
      </tr>

      <p class="tat_sort">תת מיון</p>
      <tr class="tr_sub_sort">
        <!-- מיון לפי סטטוס -->
        <th
          *ngIf="this.isSplit === 'ראשי' && !check_shivokim_Independent"
          style="
            font-weight: bold;
            text-align: right;
            font-weight: bold;
            text-align: right;
            padding-right: 40px;
            padding-left: 40px;
          "
        >
          <!-- מיון לפי סטטוס -->
          <label for="statusSelector">סטטוס: </label>
          <div
            style="display: flex; flex-direction: row"
            class="date-input-container"
          >
            <select
              class="blue-date-input"
              id="statusSelector"
              (change)="onStatusSelected($event)"
              #statusSelect
            >
              <option
                *ngIf="
                  this.transferStatusNamesArray &&
                  this.transferStatusNamesArray.length > 1
                "
                value="chose_Category"
                selected
                value="כולם"
              >
                כולם
              </option>
              <option
                *ngFor="let status of transferStatusNamesArray"
                [value]="status"
              >
                {{ status }}
              </option>
            </select>
          </div>
        </th>

        <!-- מיון לפי מס תעודה -->
        <th
          *ngIf="this.isSplit === 'ראשי'"
          style="
            font-weight: bold;
            text-align: right;
            font-weight: bold;
            text-align: right;
            padding-right: 40px;
            padding-left: 40px;
          "
        >
          <label for="certificate_id2">מס תעודה:</label>
          <div>
            <input
              style="width: 132px"
              type="text"
              id="certificate_id2"
              [(ngModel)]="certificate_id2"
              class="blue-date-input-certificate_id2"
              (change)="set_val_of_sort_by_certificate($event)"
            />
            <button
              (click)="search_certificate_id()"
              class="search-button btn_sort_by_certificate_id"
            >
              חפש
            </button>
          </div>
        </th>

        <!-- מיון לפי מס מגדל -->
        <th
          *ngIf="this.isSplit !== 'ראשי'"
          style="
            font-weight: bold;
            text-align: right;
            font-weight: bold;
            text-align: right;
            padding-right: 40px;
            padding-left: 40px;
          "
        >
          <label for="grower_num">מס מגדל:</label>
          <div>
            <input
              style="width: 132px"
              type="text"
              id="grower_num"
              [(ngModel)]="sort_by_grower_num"
              class="blue-date-input-certificate_id2"
              (change)="set_val_of_sort_by_grower_num($event)"
            />
            <button
              (click)="search_grower_num()"
              class="search-button btn_sort_by_certificate_id"
            >
              חפש
            </button>
          </div>
        </th>

        <!-- מיון לפי שם מגדל -->
        <th
          *ngIf="this.isSplit !== 'ראשי'"
          style="
            font-weight: bold;
            text-align: right;
            font-weight: bold;
            text-align: right;
            padding-right: 40px;
            padding-left: 40px;
          "
        >
          <label for="grower_name">שם מגדל:</label>
          <div>
            <input
              style="width: 132px"
              type="text"
              id="grower_name"
              [(ngModel)]="sort_by_grower_name"
              class="blue-date-input-certificate_id2"
              (change)="set_val_of_sort_by_grower_name($event)"
            />
            <button
              (click)="search_grower_name()"
              class="search-button btn_sort_by_certificate_id"
            >
              חפש
            </button>
          </div>
        </th>

        <th style="font-weight: bold; text-align: right"></th>
      </tr>
    </thead>

    <tr>
      <td colspan="2">
        <!-- טבלת נתונים משווק עצמאי -->
        <table
          *ngIf="this.check_shivokim_Independent && this.isSplit === 'ראשי'"
          class="table no-margin"
        >
          <thead>
            <tr>
              <th style="font-weight: bold; text-align: right">תאריך הפקה</th>
              <th style="font-weight: bold; text-align: right">תאריך קליטה</th>
              <th style="font-weight: bold; text-align: right">מס תעודה</th>
              <th style="font-weight: bold; text-align: right">שם משק</th>
              <th style="font-weight: bold; text-align: right">מס להקה</th>
              <th style="font-weight: bold; text-align: right">מס מגדל</th>
              <th style="font-weight: bold; text-align: right">שם מגדל</th>
              <th style="font-weight: bold; text-align: right">ישוב המשק</th>
              <th style="font-weight: bold; text-align: right">
                שם משווק בפועל
              </th>
              <th style="font-weight: bold; text-align: right">
                מכון מיון בפועל
              </th>
              <th style="font-weight: bold; text-align: right">סהכ ביצים</th>
              <th style="font-weight: bold; text-align: right">סטטוס משלוח</th>
            </tr>
          </thead>

          <tbody style="white-space: nowrap">
            <tr
              *ngFor="let row of data"
              (click)="open_certificate_details(row.certificate_id)"
            >
              <!-- ht">תאריך הפקה -->
              <td (click)="open_certificate_details(row.certificate_id)">
                {{ row.create_date | date : "dd/MM/yyyy" }}
              </td>

              <!-- תאריך קליטה -->
              <td>{{ row.klita_date | date : "dd/MM/yyyy" }}</td>

              <!-- >מס תעודה -->
              <td>{{ row.certificate_id }}</td>

              <!-- שם משק -->
              <td>{{ row.farm_name }}</td>

              <!-- מס להקה -->
              <td>{{ row.flock_id }}</td>

              <!-- מס מגדל -->
              <td>{{ row.lull2000_code }}</td>

              <!-- שם מגדל -->
              <td>{{ row.grower_name }}</td>

              <!--ישוב המשק   -->
              <td>{{ row.farm_settlement_name }}</td>

              <!-- שם משווק בפועל -->
              <td>{{ row.msvk_name }}</td>

              <!-- מכון מיון בפועל -->
              <td>{{ row.egg_factory_name }}</td>

              <!-- סהכ ביצים -->
              <td>{{ row.egg_sum | number : "0.0" }}</td>
              <td>מיון עצמאי</td>
            </tr>
          </tbody>
        </table>

        <!-- טבלת נתונים משווק רגיל -->
        <table
          *ngIf="!this.check_shivokim_Independent && this.isSplit === 'ראשי'"
          class="table no-margin"
        >
          <thead>
            <tr>
              <th style="font-weight: bold; text-align: right">תאריך הפקה</th>
              <th style="font-weight: bold; text-align: right">תאריך קליטה</th>
              <th style="font-weight: bold; text-align: right">מס תעודה</th>
              <th style="font-weight: bold; text-align: right">שם משק</th>
              <th style="font-weight: bold; text-align: right">מס להקה</th>
              <th style="font-weight: bold; text-align: right">מס מגדל</th>
              <th style="font-weight: bold; text-align: right">שם מגדל</th>
              <th style="font-weight: bold; text-align: right">ישוב המשק</th>
              <th style="font-weight: bold; text-align: right">
                שם משווק בפועל
              </th>
              <th style="font-weight: bold; text-align: right">
                מכון מיון בפועל
              </th>
              <th style="font-weight: bold; text-align: right">סוג אריזה</th>
              <th style="font-weight: bold; text-align: right">כמות</th>
              <th style="font-weight: bold; text-align: right">סהכ ביצים</th>
              <th style="font-weight: bold; text-align: right">סטטוס משלוח</th>
              <th style="font-weight: bold; text-align: right">בין משווקים</th>
              <th style="font-weight: bold; text-align: right">
                מחסן ביצים צמוד
              </th>
            </tr>
          </thead>

          <tbody style="white-space: nowrap">
            <tr
              *ngFor="let row of data"
              (click)="open_certificate_details(row.certificate_id)"
            >
              <!-- ht">תאריך הפקה -->
              <td (click)="open_certificate_details(row.certificate_id)">
                {{ row.create_date | date : "dd/MM/yyyy" }}
              </td>

              <!-- תאריך קליטה -->
              <td>{{ row.transfer_date | date : "dd/MM/yyyy" }}</td>

              <!-- >מס תעודה -->
              <td>{{ row.certificate_id }}</td>

              <!-- שם משק -->
              <td>{{ row.farm_name + " - " + row.farm_code }}</td>

              <!-- מס להקה -->
              <td>{{ row.flock_id }}</td>

              <!-- מס מגדל -->
              <td>{{ row.lull2000_code }}</td>

              <!-- שם מגדל -->
              <td>{{ row.grower_name }}</td>

              <!--ישוב המשק   -->
              <td>{{ row.farm_settlement_name }}</td>

              <!-- שם משווק בפועל -->
              <td>{{ row.msvk_name }}</td>

              <!-- מכון מיון בפועל -->
              <td>{{ row.egg_factory_name }}</td>

              <!-- סוג אריזה  -->
              <td>{{ row.transport_type_name }}</td>

              <!-- כמות -->
              <td>{{ row.total_count }}</td>

              <!-- סהכ ביצים -->
              <td>{{ row.total_transfer_egg_sum | number : "0.0" }}</td>

              <!-- סטטוס משלוח -->
              <td>{{ row.transfer_status_name }}</td>

              <!-- בין משקים -->
              <td>{{ row.is_between_egg_factory1 }}</td>

              <!-- מחסן ביצים צמוד -->
              <td *ngIf="row.egg_warehouse_name === null"></td>
              <td *ngIf="row.egg_warehouse_name !== null">
                {{ row.egg_warehouse_name }}
              </td>
            </tr>
            <br />

            <tr>
              <td>
                כמות עגלות: {{ this.total_count_packege | number : "0.0" }}
              </td>

              <td>כמות ביצים: {{ this.total_count_agges | number : "0.0" }}</td>
              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>
            </tr>
          </tbody>
        </table>

        <!-- טבלת נתונים פיצול -->
        <table *ngIf="this.isSplit === 'מפוצל'" class="table no-margin">
          <thead>
            <tr>
              <th style="font-weight: bold; text-align: right">סוג מגדל</th>
              <th style="font-weight: bold; text-align: right">שם מגדל</th>
              <th style="font-weight: bold; text-align: right">מס מגדל</th>
              <th style="font-weight: bold; text-align: right">חידוש</th>
              <th style="font-weight: bold; text-align: right">אחוזי שותפות</th>
              <th style="font-weight: bold; text-align: right">שם ישוב</th>
              <th style="font-weight: bold; text-align: right">תעודה מרוכזת</th>
              <th style="font-weight: bold; text-align: right">שם משק</th>
              <th style="font-weight: bold; text-align: right">מכון מיון</th>
              <th style="font-weight: bold; text-align: right">מס להקה</th>
              <th style="font-weight: bold; text-align: right">תאריך שיווק</th>
              <th style="font-weight: bold; text-align: right">סהכ תבניות</th>
              <th style="font-weight: bold; text-align: right">כמות שיווק</th>
              <th style="font-weight: bold; text-align: right">שם משווק</th>
            </tr>
          </thead>
          <tbody style="white-space: nowrap">
            <tr *ngFor="let row of data">
              <!-- סוג מגדל -->
              <td>{{ row.grower_kind }}</td>

              <!-- שם מגדל-->
              <td>{{ row.grower_name }}</td>

              <!-- מס מגדל -->
              <td>{{ row.lull2000_code }}</td>

              <!--מכסה-->
              <td>{{ row.mcsa }}</td>

              <!-- אחוזי שותפות-->
              <td>{{ row.percent_ }}%</td>

              <!--שם ישוב  -->
              <td>{{ row.settlement_name }}</td>

              <!-- תעודה מרוכזת-->
              <td>{{ row.merocezet }}</td>

              <!-- שם משק-->
              <td>{{ row.farm_code }} - {{ row.farm_name }}</td>

              <!-- מכון מיון -->
              <td>{{ row.egg_factory_name }}</td>

              <!-- מס להקה -->
              <td>{{ row.flock_id }}</td>

              <!-- תאריך שיווק -->
              <td>{{ row.produce_date | date : "dd/MM/yyyy" }}</td>

              <!-- סהכ תבניות -->
              <td>{{ row.package_sum | customRound }}</td>

              <!-- כמות שיווק -->
              <td>{{ row.marketing_sum | number : "0.0" }}</td>

              <!-- שם משווק -->
              <td>{{ row.msvk_name }}</td>
            </tr>
            <br />

            <tr>
              <td>
                כמות עגלות: {{ this.total_count_packege | number : "0.0" }}
              </td>

              <td>כמות ביצים: {{ this.total_count_agges | number : "0.0" }}</td>
              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>

              <td></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</div>
