.popup-dialog {
  background-color: white !important;
  max-width: 60vw;
  color: black !important;
  background-color: silver;
  font-size: 20px;
  margin: auto;
  color: black !important;
  background-color: silver;
  font-size: 20px;
  direction: rtl;
  padding: 4px;
  width: fit-content;
  position: absolute;
  top: 20% !important;
  left: 75% !important;
  transform: translate(-50%, -50%);
  margin: auto;
}

.testpop {
  padding: 1px;
}
