<table class="" dir="rtl" style="padding: 5px" border="0">
  <thead>
    <tr>
      <TD style="width: 10px; text-align: right; vertical-align: top">
        <button mat-icon-button mat-dialog-close>
          <mat-icon>X</mat-icon>
        </button>
      </TD>
    </tr>
  </thead>

  <TR
    ><TD colspan="2">
      <table class="table no-margin">
        <!-- <thead>
            <tr>
              <th style="font-weight: bold; text-align: right">תחילת שותפות</th>
              <th style="font-weight: bold; text-align: right">שם מגדל</th>
              <th style="font-weight: bold; text-align: right">מס מגדל</th> -->
        <!-- <th style="font-weight: bold; text-align: right;" *ngIf="(userTypeID== '9' || userTypeID== '15' || userTypeID== '2')">מס' אכלוס פרגיות</th> -->
        <!-- <th style="font-weight: bold; text-align: right">
                מס' שיווק ביצים
              </th>
              <th style="font-weight: bold; text-align: right">מכסה</th>
              <th style="font-weight: bold; text-align: right">אחוז</th>
              <th style="font-weight: bold"></th>
            </tr>
          </thead> -->
        <tbody>
          <tr *ngFor="let p of data">
            <td>{{ p.NameMsvkExt }}</td>
            <td>{{ p.YazExtrnl }}</td>
          </tr>
        </tbody>
      </table>
    </TD></TR
  >
</table>
