<table class="testpop" dir="rtl" style="padding: 5px" border="0">
  <thead>
    <tr>
      <TD style="width: 10px; text-align: right; vertical-align: top">
        <button mat-icon-button mat-dialog-close>
          <mat-icon>X</mat-icon>
        </button>
      </TD>
    </tr>
  </thead>

  <TR
    ><TD colspan="2">
      <table class="table no-margin">
        <thead>
          <tr>
            <th class="no-wrap-test-eran">עיר</th>
            <th class="no-wrap-test-eran">כתובת</th>
            <th class="no-wrap-test-eran">מיקוד</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="no-wrap-test-eran">{{ data[0]?.City }}</td>
            <td class="no-wrap-test-eran">{{ data[0]?.addr }}</td>
            <td class="no-wrap-test-eran">{{ data[0]?.Mikud }}</td>
          </tr>
        </tbody>
      </table>
    </TD></TR
  >
</table>
