<table class="testpop-custom" dir="rtl" style="padding: 5px" border="0">
  <thead>
    <tr>
      <td style="width: 10px; text-align: right; vertical-align: top">
        <button mat-icon-button mat-dialog-close>
          <mat-icon>X</mat-icon>
        </button>
      </td>
    </tr>
  </thead>

  <tr>
    <td colspan="2">
      <table class="table no-margin">
        <thead>
          <tr>
            <th class="no-wrap-test-eran">שם קודם</th>
            <th class="no-wrap-test-eran">מועד שינוי</th>
            <th class="no-wrap-test-eran">סיבת השינוי</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="no-wrap-test-eran">{{ data[0]?.Old_Name_Yazran }}</td>
            <td class="no-wrap-test-eran">{{ data[0]?.chgdate }}</td>
            <td class="no-wrap-test-eran">{{ data[0]?.NmSiba }}</td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
