<div class="app-content content" style="direction: rtl">
  <div class="content-wrapper">
    <div class="searchInput" style="direction: rtl">
      <form
        action="
        "
      >
        <div class="col-md-4">
          <div class="form-group row mx-auto">
            <label class="col-md-4 label-control" for="userinput1"
              >שם מגדל טסט</label
            >
            <div class="col-md-8">
              <input
                name="username"
                type="text"
                id="username-input"
                class="form-control border-primary textUserInput"
                placeholder="שם"
                [(ngModel)]="username_test"
                [formControl]="usernameControl_test"
                (keydown.enter)="add_test()"
              />
              <span class="delete-icon" (click)="clearInput('username')">
                <i class="fa fa-times"></i>
              </span>
            </div>
          </div>
        </div>
      </form>

      <!-- [(ngModel)]="username_test"
      [formControl]="username_test_Control" -->

      <form
        class="form form-horizontal row-separator"
        (ngSubmit)="add()"
        [formGroup]="DetailsForm"
        (keyup.enter)="add()"
      >
        <!-- input text search start ---------------------------------------------------------------------------------------------------------------------->

        <div class="form-body text-right">
          <h4 class="form-section"><i class="la la-eye"></i>חיפוש מגדל:</h4>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row mx-auto">
                <label class="col-md-4 label-control" for="userinput1"
                  >שם מגדל</label
                >
                <div class="col-md-8">
                  <input
                    name="username"
                    type="text"
                    id="username-input"
                    class="form-control border-primary textUserInput"
                    placeholder="שם"
                    [(ngModel)]="username"
                    [formControl]="usernameControl"
                    (keydown.enter)="$event.preventDefault()"
                  />
                  <span class="delete-icon" (click)="clearInput('username')">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row mx-auto">
                <label class="col-md-4 label-control" for="userinput1"
                  >מספר מגדל</label
                >
                <div class="col-md-8">
                  <input
                    name="numName"
                    type="text"
                    id="numName-input"
                    class="form-control border-primary textUserInput"
                    placeholder="מספר מגדל"
                    [(ngModel)]="numName"
                    [formControl]="numNameControl"
                    (keydown.enter)="$event.preventDefault()"
                  />
                  <span class="delete-icon" (click)="clearInput('numName')">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row mx-auto">
                <label class="col-md-4 label-control" for="userinput2"
                  >מספר אתר</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    id="age-input"
                    name="site"
                    class="form-control border-primary textUserInput"
                    placeholder="מס אתר"
                    [(ngModel)]="site"
                    [formControl]="siteControl"
                    (keydown.enter)="$event.preventDefault()"
                  />
                  <span class="delete-icon" (click)="clearInput('site')">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4" style="display: none">
              <div class="form-group row mx-auto">
                <label class="col-md-4 label-control" for="userinput3"
                  >שלוחה</label
                >
                <div class="col-md-8">
                  <ng-select
                    style="
                      direction: rtl;
                      justify-content: right;
                      text-align: right;
                    "
                    [items]="extension1"
                    [searchable]="true"
                    [formControl]="extensionControl"
                    placeholder="בחר שלוחה"
                    [(ngModel)]="extension"
                  ></ng-select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row last mx-auto">
                <label class="col-md-4 label-control" for="userinput4"
                  >ישוב</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    id="settlement-input"
                    name="settlement"
                    class="form-control border-primary textUserInput"
                    [formControl]="settlementInput"
                    placeholder="ישוב"
                    [(ngModel)]="settlement"
                    [formControl]="settlementControl"
                    (keydown.enter)="$event.preventDefault()"
                  />
                  <span class="delete-icon" (click)="clearInput('settlement')">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-4" style="display: none">
              <div class="form-group row last mx-auto">
                <label class="col-md-4 label-control" for="userinput4"
                  >גידול חוץ</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    id="gidolHotz-input"
                    name="gidolHotz"
                    class="form-control border-primary"
                    [formControl]="gidolHotzInput"
                    placeholder="גידול חוץ"
                    [(ngModel)]="gidolHotz"
                    [formControl]="gidolHotzControl"
                    (keydown.enter)="$event.preventDefault()"
                  />
                  <span class="delete-icon" (click)="clearInput('gidolHotz')">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- input text search end ---------------------------------------------------------------------------------------------------------------------->

        <!-- Color Checkboxes start ---------------------------------------------------------------------------------------------------------------------->
        <div class="checkboxStyle">
          <section class="input-type-options">
            <div class="row" matchHeight="card">
              <div class="col-xl-6 col-lg-12 clean_and_search_btn">
                <div class="">
                  <div class="card-content">
                    <div class="card-body">
                      <div>
                        <div
                          class="d-inline-block custom-control custom-checkbox mr-1"
                          style="padding: unset; margin-bottom: 15px"
                        >
                          <button
                            type="button"
                            class="btn btn-primary cleanBtn"
                            style="margin-left: 15px !important"
                            (click)="cleanInputFild()"
                          >
                            <i class="feather ft-x"></i> נקה
                          </button>

                          <button type="submit" class="btn btn-primary">
                            <i class="la la-check"></i> חפש
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!--end Color Checkboxes  ---------------------------------------------------------------------------------------------------------------------->
      </form>
    </div>

    <!-- table of results  ---------------------------------------------------------------------------------------------------------------------->

    <div class="content-body text-right">
      <div *ngIf="isLoading" class="isLoading"></div>

      <div *ngIf="!isLoading">
        <section id="base-style text-right">
          <div class="row">
            <div class="col-12" *blockUI="'baseStyle'; message: 'Loading'">
              <m-card
                [options]="options"
                (reloadFunction)="reloadBaseStyle($event)"
              >
                <ng-container mCardHeaderTitle class="searckMegadel">
                  חיפוש מגדל
                </ng-container>
                <ng-container mCardBody>
                  <div class="importBth">
                    <div class="justify-content">
                      <img
                        class="logoIngStyle"
                        src="assets/images/logo/excel.png"
                        alt="Image"
                        (click)="getExcelData()"
                      />
                    </div>
                  </div>
                  <div
                    class="card-dashboard text-right"
                    *ngIf="isLoading_search_megadel"
                    class="loader"
                  ></div>
                  <div
                    class="card-dashboard text-right"
                    *ngIf="!isLoading_search_megadel"
                  >
                    <div class="table table-striped table-bordered base-style">
                      <ngx-datatable
                        class="bootstrap ps"
                        [limit]="20"
                        [rows]="theDetails"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="50"
                        fxFlex="auto"
                        [perfectScrollbar]="config"
                      >
                        <!-- מס אתר -->
                        <ngx-datatable-column
                          title="This is a tooltip"
                          name="מספר אתר"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            title="This is a tooltip"
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <ng-container
                              title="This is a tooltip"
                              *ngIf="
                                row.farm_status_id === 1;
                                else closedTemplate
                              "
                            >
                              <div [class]="'text-right'">
                                <a
                                  [routerLink]="[
                                    '/dashboard/ecommerce',
                                    row.yz_IdReal
                                  ]"
                                >
                                  <div *ngIf="allInactive">
                                    <p style="">{{ row.yz_Id }}</p>
                                  </div>
                                  <div *ngIf="!allInactive">
                                    <p style="">
                                      {{ row.yz_Id }}
                                    </p>
                                  </div>
                                </a>
                              </div>
                            </ng-container>
                            <ng-template #closedTemplate>
                              <div
                                [class]="'text-right'"
                                title="This is a tooltip"
                              >
                                <a
                                  title="This is a tooltip"
                                  [routerLink]="[
                                    '/dashboard/ecommerce',
                                    row.yz_IdReal
                                  ]"
                                >
                                  <div
                                    *ngIf="allInactive"
                                    title="This is a tooltip"
                                  >
                                    <p style="" title="This is a tooltip">
                                      {{ row.yz_Id }}
                                    </p>
                                  </div>
                                  <div
                                    *ngIf="!allInactive"
                                    title="This is a tooltip"
                                  >
                                    <p style="" title="This is a tooltip">
                                      {{ row.yz_Id }}
                                    </p>
                                  </div>
                                </a>
                              </div>
                            </ng-template>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- מס מגדל -->
                        <ngx-datatable-column
                          name="מספר מגדל"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a
                                [routerLink]="[
                                  '/dashboard/ecommerce',
                                  row.yz_IdReal
                                ]"
                              >
                                {{ row.v_yzrn }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- שם מגדל -->
                        <ngx-datatable-column
                          name="שם יצרן"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a
                                [routerLink]="[
                                  '/dashboard/ecommerce',
                                  row.yz_IdReal
                                ]"
                                >{{ row.v_shem_yzrn }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- מכסה -->
                        <ngx-datatable-column
                          name="מיכסה"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a
                                [routerLink]="[
                                  '/dashboard/ecommerce',
                                  row.yz_IdReal
                                ]"
                              >
                                {{ row.micsa | numberFormat }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- ג''ח' -->
                        <ngx-datatable-column
                          name="ג''ח"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a
                                [routerLink]="[
                                  '/dashboard/ecommerce',
                                  row.yz_IdReal
                                ]"
                              >
                                {{ row.cdgdl }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- ישוב -->
                        <ngx-datatable-column
                          name="ישוב"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a
                                [routerLink]="[
                                  '/dashboard/ecommerce',
                                  row.yz_IdReal
                                ]"
                                >{{ row.v_shem_yeshuv }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- שם פרטי -->
                        <ngx-datatable-column
                          name="שם פרטי"
                          [flexGrow]="1"
                          [minWidth]="30"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a
                                [routerLink]="[
                                  '/dashboard/ecommerce',
                                  row.yz_IdReal
                                ]"
                              >
                                {{ row.v_first_name }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- שם משפחה -->
                        <ngx-datatable-column
                          name="שם משפחה"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a
                                [routerLink]="[
                                  '/dashboard/ecommerce',
                                  row.yz_IdReal
                                ]"
                              >
                                {{ row.v_last_name }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- תז -->
                        <ngx-datatable-column
                          name="ת.ז"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a
                                [routerLink]="[
                                  '/dashboard/ecommerce',
                                  row.yz_IdReal
                                ]"
                                >{{ row.v_zehut }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- סוג מגדל -->
                        <ngx-datatable-column
                          name="סוג מגדל"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <ng-container *ngIf="row.Rashi === '1'">
                              <div [class]="'text-right'">
                                <a
                                  [routerLink]="[
                                    '/dashboard/ecommerce',
                                    row.yz_IdReal
                                  ]"
                                  >ראשי</a
                                >
                              </div>
                            </ng-container>
                            <ng-container *ngIf="row.Rashi === '0'">
                              <div [class]="'text-right'">
                                <a
                                  [routerLink]="[
                                    '/dashboard/ecommerce',
                                    row.yz_IdReal
                                  ]"
                                >
                                  שותף</a
                                >
                              </div>
                            </ng-container>
                            <ng-container *ngIf="row.Rashi === '2'">
                              <div [class]="'text-right'">
                                <a
                                  [routerLink]="[
                                    '/dashboard/ecommerce',
                                    row.yz_IdReal
                                  ]"
                                  >פרטני</a
                                >
                              </div>
                            </ng-container>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- סטטוס -->
                        <ngx-datatable-column
                          name="סטטוס"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <ng-container
                              *ngIf="row.v_status === 1; else closedTemplate"
                            >
                              <div [class]="'text-right'">
                                <a
                                  [routerLink]="[
                                    '/dashboard/ecommerce',
                                    row.yz_IdReal
                                  ]"
                                >
                                  לא פעיל</a
                                >
                              </div>
                            </ng-container>
                            <ng-template #closedTemplate>
                              <div [class]="'text-right'">
                                <a
                                  [routerLink]="[
                                    '/dashboard/ecommerce',
                                    row.yz_IdReal
                                  ]"
                                >
                                  פעיל</a
                                >
                              </div>
                            </ng-template>
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                </ng-container>
              </m-card>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
