<div class="app-content content" style="direction: rtl">
  <div class="content-wrapper">
    <div class="searchInput" style="direction: rtl">
      <form
        class="form form-horizontal row-separator"
        (ngSubmit)="add()"
        [formGroup]="DetailsForm"
        (keyup.enter)="add()"
      >
        <!-- input text search start ---------------------------------------------------------------------------------------------------------------------->

        <div class="form-body text-right">
          <h4 class="form-section"><i class="la la-eye"></i>חיפוש מגדל:</h4>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row mx-auto">
                <label class="col-md-4 label-control" for="userinput1"
                  >שם מגדל</label
                >
                <div class="col-md-8">
                  <input
                    name="username"
                    type="text"
                    id="username-input"
                    class="form-control border-primary"
                    placeholder="שם"
                    [(ngModel)]="username"
                    [formControl]="usernameControl"
                    (keydown.enter)="$event.preventDefault()"
                  />
                  <span class="delete-icon" (click)="clearInput('username')">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row mx-auto">
                <label class="col-md-4 label-control" for="userinput1"
                  >מספר מגדל</label
                >
                <div class="col-md-8">
                  <input
                    name="numName"
                    type="text"
                    id="numName-input"
                    class="form-control border-primary"
                    placeholder="מספר מגדל"
                    [(ngModel)]="numName"
                    [formControl]="numNameControl"
                    (keydown.enter)="$event.preventDefault()"
                  />
                  <span class="delete-icon" (click)="clearInput('numName')">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row mx-auto">
                <label class="col-md-4 label-control" for="userinput2"
                  >מספר אתר</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    id="age-input"
                    name="site"
                    class="form-control border-primary"
                    placeholder="שם אתר"
                    [(ngModel)]="site"
                    [formControl]="siteControl"
                    (keydown.enter)="$event.preventDefault()"
                  />
                  <span class="delete-icon" (click)="clearInput('site')">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row mx-auto">
                <label class="col-md-4 label-control" for="userinput3"
                  >שלוחה</label
                >
                <div class="col-md-8">
                  <ng-select
                    style="
                      direction: rtl;
                      justify-content: right;
                      text-align: right;
                    "
                    [items]="extension1"
                    [searchable]="true"
                    [formControl]="extensionControl"
                    placeholder="בחר שלוחה"
                    [(ngModel)]="extension"
                  ></ng-select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row last mx-auto">
                <label class="col-md-4 label-control" for="userinput4"
                  >ישוב</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    id="settlement-input"
                    name="settlement"
                    class="form-control border-primary"
                    [formControl]="settlementInput"
                    placeholder="ישוב"
                    [(ngModel)]="settlement"
                    [formControl]="settlementControl"
                    (keydown.enter)="$event.preventDefault()"
                  />
                  <span class="delete-icon" (click)="clearInput('settlement')">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- input text search end ---------------------------------------------------------------------------------------------------------------------->

        <!-- Color Checkboxes start ---------------------------------------------------------------------------------------------------------------------->

        <div class="checkboxStyle">
          <section class="input-type-options">
            <div class="row" matchHeight="card">
              <div class="col-xl-6 col-lg-12">
                <div class="">
                  <div class="card-content">
                    <div class="card-body">
                      <div>
                        <div class="form-row">
                          <div class="col-auto">
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                [(ngModel)]="checkBoxActive"
                                [checked]="selectedCheckbox === 'active'"
                                (click)="checkboxClicked('active')"
                                id="checkbox1"
                                [checked]="true"
                              />
                              <label class="form-check-label" for="active"
                                >פעיל</label
                              >
                            </div>
                          </div>
                          <div class="col-auto">
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                [(ngModel)]="checkBoxNotActive"
                                [checked]="selectedCheckbox === 'notActive'"
                                (click)="checkboxClicked('notActive')"
                                id="checkbox2"
                              />
                              <label
                                class="form-check-label"
                                for="notActive"
                              ></label>
                              לא פעיל
                            </div>
                          </div>
                          <div class="col-auto">
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                type="checkbox"
                                [(ngModel)]="checkBoxAll"
                                [checked]="selectedCheckbox === 'all'"
                                (click)="checkboxClicked('all')"
                                id="checkbox3"
                              />
                              <label class="form-check-label" for="all"
                                >כולם</label
                              >
                            </div>
                          </div>
                        </div>
                        <div
                          class="d-inline-block custom-control custom-checkbox mr-1"
                        >
                          <!-- <button type="button" class="btn btn-warning mr-1">
                            <i class="feather ft-x"></i> בטל
                          </button>  -->
                          <button
                            type="bottun"
                            class="btn btn-primary cleanBtn"
                            style="margin-left: 15px !important"
                            (click)="cleanInputFild()"
                          >
                            <i class="feather ft-x"></i> נקה
                          </button>

                          <button type="submit" class="btn btn-primary">
                            <i class="la la-check"></i> חפש
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!--end Color Checkboxes  ---------------------------------------------------------------------------------------------------------------------->
      </form>
    </div>

    <!-- table of results  ---------------------------------------------------------------------------------------------------------------------->

    <div class="content-body text-right">
      <!-- Base style table -->

      <div *ngIf="isLoading" class="loader"></div>

      <!-- Rest of your template -->

      <div *ngIf="!isLoading">
        <!-- Display theDetails data -->

        <section id="base-style text-right">
          <div class="row">
            <div class="col-12" *blockUI="'baseStyle'; message: 'Loading'">
              <m-card
                [options]="options"
                (reloadFunction)="reloadBaseStyle($event)"
              >
                <ng-container mCardHeaderTitle> חיפוש מגדל </ng-container>

                <ng-container mCardBody>
                  <div class="importBth">
                    <div class="justify-content">
                      <!-- <img
                        class="logoIngStyle"
                        src="../../../assets/logo/pdf.png"
                        alt="Image"
                        (click)="getPdfData()"
                      /> -->

                      <img
                        class="logoIngStyle"
                        src="../../../assets/logo/excel.png"
                        alt="Image"
                        (click)="getExcelData()"
                      />

                      <!-- <img
                        class="logoIngStyle"
                        src="../../../assets/logo/printLogo.PNG"
                        alt="Image"
                        (click)="getExcelData()"
                      /> -->
                    </div>
                  </div>
                  <div class="card-dashboard text-right">
                    <div class="table table-striped table-bordered base-style">
                      <ngx-datatable
                        class="bootstrap ps"
                        [limit]="20"
                        [rows]="theDetails"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="50"
                        fxFlex="auto"
                        [perfectScrollbar]="config"
                      >
                        <ngx-datatable-column
                          name="מספר אתר"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a
                                [routerLink]="[
                                  '/dashboard/ecommerce',
                                  row.yz_Id
                                ]"
                              >
                                {{ row.yz_Id }}</a
                              >
                              <!-- {{ row.yz_Id }} -->
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                          name="שם יצרן"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a [routerLink]="['/details', row.id]">{{
                                row.yz_shem
                              }}</a>
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                          name="שם פרטי"
                          [flexGrow]="1"
                          [minWidth]="30"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a [routerLink]="['/details', row.id]">
                                {{ row.yz_first_name }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                          name="שם משפחה"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a [routerLink]="['/details', row.id]">
                                {{ row.yz_last_name }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                          name="מספר יצרן"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a [routerLink]="['/details', row.id]">
                                {{ row.yz_yzrn }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                          name="ת.ז"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a [routerLink]="['/details', row.id]">{{
                                row.yz_zehut
                              }}</a>
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column
                          name="ישוב"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a [routerLink]="['/details', row.id]">{{
                                row.yz_shem_yeshuv
                              }}</a>
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column
                          name="סוג מגדל"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <ng-container *ngIf="row.yz_sug === 1">
                              <div [class]="'text-right'">
                                <a [routerLink]="['/details', row.id]">ראשי</a>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="row.yz_sug === 2">
                              <div [class]="'text-right'">
                                <a [routerLink]="['/details', row.id]"> שותף</a>
                              </div>
                            </ng-container>
                            <ng-container *ngIf="row.yz_sug === 3">
                              <div [class]="'text-right'">
                                <a [routerLink]="['/details', row.id]">פרטני</a>
                              </div>
                            </ng-container>
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                          name="ג''ח"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <div [class]="'text-right'">
                              <a [routerLink]="['/details', row.id]">
                                {{ row.pa_Counter }}</a
                              >
                            </div>
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column
                          name="סטטוס"
                          [flexGrow]="1"
                          [minWidth]="90"
                        >
                          <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                          >
                            <ng-container
                              *ngIf="row.yz_is_activ === 1; else closedTemplate"
                            >
                              <div [class]="'text-right'">
                                <a
                                  [routerLink]="[
                                    '/dashboard/ecommerce',
                                    row.id
                                  ]"
                                >
                                  לא פעיל</a
                                >
                              </div>
                            </ng-container>
                            <ng-template #closedTemplate>
                              <div [class]="'text-right'">
                                <a [routerLink]="['/details', row.id]"> פעיל</a>
                              </div>
                            </ng-template>
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                </ng-container>
              </m-card>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
