<table class="testpop" dir="rtl" style="padding: 5px" border="0">
  <thead>
    <tr>
      <TD style="width: 10px; text-align: right; vertical-align: top">
        <button mat-icon-button mat-dialog-close>
          <mat-icon>X</mat-icon>
        </button>
      </TD>
    </tr>
  </thead>

  <TR
    ><TD colspan="2">
      <table class="table no-margin">
        <thead>
          <tr>
            <th class="no-wrap-test-eran">תאריך פטירה</th>
            <th class="no-wrap-test-eran">תאריך עדכון</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="no-wrap-test-eran">{{ data[0]?.v_DtPtira }}</td>
            <td class="no-wrap-test-eran">{{ data[0]?.v_dtUpdIzavon }}</td>
          </tr>
        </tbody>
      </table>
    </TD></TR
  >
</table>
