<table class="" dir="rtl" style="padding: 5px" border="0">
  <thead>
    <tr>
      <th style="font-weight: bold; text-align: right">
        &nbsp;סה"כ שותפים {{ data.length - 1 }}
      </th>

      <th style="font-weight: bold; text-align: right">
        &nbsp;קוד קבוצה {{ data[data.length - 1]?.obj2?.cd_gidul }}
      </th>

      <th style="font-weight: bold; text-align: right">גידול משותף ביצים</th>
      <th style="font-weight: bold; text-align: right">
        <button mat-icon-button mat-dialog-close>
          <mat-icon>X</mat-icon>
        </button>
      </th>
    </tr>
  </thead>

  <TR
    ><TD colspan="2">
      <table class="table no-margin">
        <thead>
          <tr>
            <th style="font-weight: bold; text-align: right">מס מגדל</th>
            <th style="font-weight: bold; text-align: right">שם מגדל</th>
            <th style="font-weight: bold; text-align: right">מכסה</th>
            <th style="font-weight: bold; text-align: right">אחוז</th>

            <th style="font-weight: bold; text-align: right">תחילת שותפות</th>
            <th style="font-weight: bold; text-align: right">סיום שותפות</th>

            <!-- <th style="font-weight: bold; text-align: right;" *ngIf="(userTypeID== '9' || userTypeID== '15' || userTypeID== '2')">מס' אכלוס פרגיות</th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let p of data"
            [ngStyle]="{ color: p.is_main_grower ? 'green' : 'black' }"
          >
            <td>{{ p.lull2000_code }}</td>
            <td>
              <a
                [routerLink]="[
                  '/dashboard/ecommerce',
                  p.id,
                  data[data.length - 1].farmID2,
                  data[data.length - 1].flockID2
                ]"
              >
                {{ p.grower_name }}
              </a>
            </td>
            <td>{{ p.mcsa_sum | number : "0.0" }}</td>
            <td>
              {{ p.percent_ | number : "0.0" }}
            </td>

            <td>{{ p.start_date }}</td>
            <td>{{ p.end_date }}</td>

            <!-- <td>{{ p.certificate_sum | number : "0.0" }}</td> -->

            <td class="no-wrap-test-eran">
              <span
                *ngIf="p.is_main_grower"
                class="label label-success no-wrap-test-eran"
                >מגדל ראשי</span
              >
            </td>
          </tr>
          <TR>
            <td></td>
            <td></td>
            <!-- <TD>{{ certificateSum | number : "0.0" }}</TD> -->
            <TD>{{ data[data.length - 1].obj2.mcsaSum | number : "0.0" }} </TD>
            <TD>100% </TD>
          </TR>
        </tbody>
      </table>
    </TD></TR
  >
</table>
