.popup-dialog {
  max-width: 60vw;
  color: black !important;
  background-color: silver;
  font-size: 20px;
  /* direction: rtl; */
  margin: auto;
  color: black !important;
  background-color: silver;
  font-size: 20px;
  direction: rtl;
  position: relative;
  top: -1621px;
  left: 164px;
}
.no-wrap-test-eran {
  white-space: nowrap;
}
