<div *ngIf="isLoading_FarmDetails" class="loader"></div>
<div *ngIf="!isLoading_FarmDetails" class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <!-- eCommerce statistic ------------------------------------------------------------------------------------------------------------------------>
      <div class="row" style="direction: rtl">
        <div class="col-xl-2 col-lg-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body card_padding">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="info">תשלום</h3>
                    <h6>תשלום</h6>
                  </div>
                  <div>
                    <i
                      class="icon-basket-loaded info font-large-2 float-right"
                    ></i>
                  </div>
                </div>
                <div class="mb-0 mt-1">
                  <ngb-progressbar
                    height="7px"
                    width="100%"
                    type="gradient-x-info"
                    [value]="80"
                  ></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body card_padding">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="info">רב שנתי</h3>
                    <h6>פרטים מורחבים</h6>
                  </div>
                  <div>
                    <i
                      class="icon-basket-loaded info font-large-2 float-right"
                    ></i>
                  </div>
                </div>
                <div class="mb-0 mt-1">
                  <ngb-progressbar
                    height="7px"
                    width="100%"
                    type="gradient-x-info"
                    [value]="80"
                  ></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body card_padding">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="warning">תעודות</h3>
                    <h6>פרטי תעודות</h6>
                  </div>
                  <div>
                    <i
                      class="icon-pie-chart warning font-large-2 float-right"
                    ></i>
                  </div>
                </div>
                <div class="mb-0 mt-1">
                  <ngb-progressbar
                    height="7px"
                    width="100%"
                    type="gradient-x-warning"
                    [value]="65"
                  >
                  </ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body card_padding">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="success">סיכום חודשי</h3>
                    <h6>פרטי סיכום חודשי</h6>
                  </div>
                  <div>
                    <i
                      class="icon-user-follow success font-large-2 float-right"
                    ></i>
                  </div>
                </div>
                <div class="mb-0 mt-1">
                  <ngb-progressbar
                    height="7px"
                    width="100%"
                    type="gradient-x-success"
                    [value]="75"
                  ></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body card_padding">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="danger">כרטיס מגדל</h3>
                    <h6>פרטי מגדל</h6>
                  </div>
                  <div>
                    <i class="icon-heart danger font-large-2 float-right"></i>
                  </div>
                </div>
                <div class="mb-0 mt-1">
                  <ngb-progressbar
                    height="7px"
                    width="100%"
                    type="gradient-x-danger"
                    [value]="85"
                  ></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ eCommerce statistic ------------------------------------------------------------------------------------------------------------------------>

      <!-- Products sell and New Orders ------------------------------------------------------------------------------------------------------------------------>
      <div class="row">
        <!-- טבלה התראות ------------------------------------------------------------------------------------------------------------------------>
        <div
          class="col-xl-2 col-12"
          style="background-color: white; height: fit-content"
        >
          <div *ngIf="isLoading_FarmDetails" class="loader"></div>

          <div class="row match_height">
            <div id="recent-transactions" class="col-12">
              <div class="table-responsive card-micsa">
                <div class="card-header"></div>
                <div class="card-content">
                  <div class="eexel_and_total">
                    <div class="importBth"></div>
                    <h1>התראות</h1>
                  </div>
                  <div
                    *ngIf="!isLoading_FarmDetails"
                    class="table-container"
                    fxFlex="auto"
                    [perfectScrollbar]="config"
                  >
                    <table
                      class="table table-hover border_bottom detailsTable"
                      style="direction: rtl"
                    >
                      <thead class="detailsTable">
                        <tr *ngIf="userDetails_more_info[0].v_YzYosh === 1">
                          <th scope="col" class="border-top-0">מגדל יו''ש</th>
                          <th scope="col" class="border-top-0">
                            <div [ngSwitch]="userDetails_more_info[0].v_YzYosh">
                              <span
                                *ngSwitchCase="'1'"
                                style="color: green; font-size: 2rem"
                                >√</span
                              >
                              <span
                                *ngSwitchDefault
                                style="color: red; font-size: 2rem"
                                >X</span
                              >
                            </div>
                          </th>
                        </tr>

                        <tr
                          *ngIf="userDetails_more_info[0].v_SelfGrower === '1'"
                        >
                          <th scope="col" class="border-top-0">
                            מגדל גידול עצמי
                          </th>
                          <th scope="col" class="border-top-0">
                            <div
                              [ngSwitch]="userDetails_more_info[0].v_SelfGrower"
                            >
                              <span
                                *ngSwitchCase="'1'"
                                style="color: green; font-size: 2rem"
                                >√</span
                              >
                              <!-- <span
                                *ngSwitchDefault
                                style="color: red; font-size: 2rem"
                                >X</span
                              > -->
                            </div>
                          </th>
                        </tr>

                        <tr *ngIf="userDetails_more_info[0].v_Dor_bet === '1'">
                          <th scope="col" class="border-top-0">מגדל דור ב'</th>
                          <th scope="col" class="border-top-0">
                            <div
                              [ngSwitch]="userDetails_more_info[0].v_Dor_bet"
                            >
                              <span
                                *ngSwitchCase="'1'"
                                style="color: green; font-size: 2rem"
                                >√</span
                              >
                              <span
                                *ngSwitchDefault
                                style="color: red; font-size: 2rem"
                                >X</span
                              >
                            </div>
                          </th>
                        </tr>

                        <tr *ngIf="McsRishaion_Esek_number_type !== 0">
                          <th scope="col" class="border-top-0">רישיון עסק</th>
                          <th scope="col" class="border-top-0">
                            <div [ngSwitch]="McsRishaion_Esek_number_type">
                              <span
                                *ngSwitchCase="0"
                                style="color: red; font-size: 2rem"
                                >X</span
                              >
                              <span
                                *ngSwitchDefault
                                style="color: green; font-size: 2rem"
                                >√</span
                              >
                            </div>
                          </th>
                        </tr>

                        <tr
                          *ngIf="userDetails_more_info[0].v_SelfConsum === '1'"
                        >
                          <th scope="col" class="border-top-0">
                            מגדל צריכה עמצאית
                          </th>
                          <th scope="col" class="border-top-0">
                            <div
                              [ngSwitch]="userDetails_more_info[0].v_SelfConsum"
                            >
                              <span
                                *ngSwitchCase="'1'"
                                style="color: green; font-size: 2rem"
                                >√</span
                              >
                              <span
                                *ngSwitchDefault
                                style="color: red; font-size: 2rem"
                                >X</span
                              >
                            </div>
                          </th>
                        </tr>

                        <tr *ngIf="userDetails_more_info[0].v_SelfConsum !== 0">
                          <th scope="col" class="border-top-0">אישור שו''ט</th>
                          <th scope="col" class="border-top-0">
                            <div [ngSwitch]="McsRishaion_Esek_number_type">
                              <span
                                *ngSwitchCase="0"
                                style="color: red; font-size: 2rem"
                                >X</span
                              >
                              <span
                                *ngSwitchDefault
                                style="color: green; font-size: 2rem"
                                >בבדיקה * test eran</span
                              >
                            </div>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <!-- <tr>
                          <td class="text-truncate row_padding">
                            <div [ngSwitch]="userDetails_more_info[0].v_YzYosh">
                              <span *ngSwitchCase="'1'" style="color: green"
                                >√</span
                              >
                              <span *ngSwitchDefault style="color: red">X</span>
                            </div>
                          </td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--סיום טבלה התראות ------------------------------------------------------------------------------------------------------------------------>

        <!-- טבלה מכסות ------------------------------------------------------------------------------------------------------------------------>
        <div class="col-xl-5 col-12">
          <div *ngIf="isLoading_FarmDetails" class="loader"></div>

          <div class="row match_height">
            <div id="recent-transactions" class="col-12">
              <div class="card card-micsa">
                <div class="card-header"></div>
                <div class="card-content">
                  <div class="exel_and_total">
                    <div>
                      <p style="direction: rtl">
                        סה''כ מכסה קבועה: {{ totalMicsaKvoha | numberFormat }}
                      </p>
                      <p style="direction: rtl">
                        סה''כ מכסה לתשלום: {{ totalMicsaToPay | numberFormat }}
                      </p>
                    </div>
                    <h1>מכסת ביצים</h1>
                  </div>

                  <div *ngIf="!isLoading_FarmDetails" class="table-container">
                    <table
                      class="table table-hover border_bottom detailsTable"
                      style="direction: rtl"
                    >
                      <thead class="detailsTable">
                        <tr>
                          <th scope="col" class="border-top-0">סוג:</th>
                          <th scope="col" class="border-top-0">שם סוג מכסה:</th>
                          <th scope="col" class="border-top-0">סוג תוספת:</th>
                          <th scope="col" class="border-top-0">כמות</th>
                          <th scope="col" class="border-top-0">מתאריך</th>
                          <th scope="col" class="border-top-0">עד תאריך</th>
                          <th scope="col" class="border-top-0">אחוז</th>
                          <th scope="col" class="border-top-0">הערה</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of mihsot">
                          <td class="text-truncate row_padding">
                            {{ row.mi_sug_mcsa }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.nameSugMcsa }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.nameSugMcsa7 }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.mi_kamut | numberFormat }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.mi_date_from | date : "dd/MM/yyyy" }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.mi_date_to | date : "dd/MM/yyyy" }}
                          </td>

                          <td class="text-truncate row_padding">
                            <div *ngIf="row.mi_ahuz === 100; else elseBlock">
                              0
                            </div>

                            <ng-template #elseBlock>
                              {{ row.mi_ahuz }}
                            </ng-template>
                          </td>
                          <td class="text-truncate row_padding">
                            {{ row.mi_remark }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--סיום טבלה מכסות ------------------------------------------------------------------------------------------------------------------------>

        <!-- טבלת פרטי מגדל ------------------------------------------------------------------------------------------------------------------------>
        <div *ngIf="isLoading_theUserDetails" class="loader"></div>

        <div
          *ngIf="!isLoading_theUserDetails"
          class="col-xl-5 col-lg-12 growerDetails"
        >
          <m-card
            [options]="options"
            (reloadFunction)="reloadNewOrders($event)"
          >
            <ng-container mCardContent>
              <div id="new-orders" class="media-list position-relative">
                <div class="table-responsive card-micsa">
                  <div>
                    <div class="card-header"></div>
                    <h1>פרטי מגדל</h1>
                    <table class="table" style="direction: rtl">
                      <tbody>
                        <tr>
                          <td><B>שם יצרן</B></td>
                          <td>{{ theUserDetails.yz_shem }}</td>

                          <td><B>מספר יצרן</B></td>
                          <td>{{ theUserDetails.yz_yzrn }}</td>
                          <td
                            align="left"
                            style="cursor: pointer"
                            (click)="openPopup_Of_OldGrower()"
                            id="openPopup_Of_OldGrowerBtn"
                          >
                            <i class="fas fa-angle-left fa-lg"></i>
                          </td>

                          <!-- 
                          <td>
                            <button (click)="openPopup_Of_OldGrower()">
                              <i class="fas fa-angle-left fa-lg"></i>
                            </button>
                          </td> -->
                        </tr>
                        <tr>
                          <td><B>כתובת</B></td>
                          <td>
                            {{
                              growerData.address + "," + growerData.city_name
                            }}
                          </td>

                          <td><B>מיקוד</B></td>
                          <td>
                            {{ growerData.v_mikud }}
                          </td>
                        </tr>

                        <tr>
                          <td><B>נחלה</B></td>
                          <td>
                            {{ userDetails_more_info[0].v_msk }}
                          </td>
                        </tr>

                        <tr>
                          <td><B>ת.ז</B></td>
                          <td>{{ theUserDetails.yz_zehut }}</td>

                          <td><B>טלפון</B></td>
                          <td>
                            {{ growerData.tel1 }}
                          </td>
                        </tr>
                        <tr>
                          <td><B>ישוב</B></td>
                          <td>{{ theUserDetails.yz_shem_yeshuv }}</td>

                          <td>
                            <B>טלפון נוסף</B>
                          </td>
                          <td>
                            {{ growerData.tel2 }}
                          </td>
                        </tr>
                        <tr>
                          <td><B>סוג מגדל</B></td>
                          <td [ngSwitch]="userDetails_more_info[0].Rashi">
                            <span
                              *ngSwitchCase="'1'"
                              style="font-size: 19px; font-weight: 600"
                              >ראשי</span
                            >
                            <span
                              *ngSwitchCase="'0'"
                              style="font-size: 19px; font-weight: 600"
                              >שותף</span
                            >
                            <span
                              *ngSwitchDefault
                              style="font-size: 19px; font-weight: 600"
                              >פרטני</span
                            >
                          </td>
                          <td><B>מייל</B></td>
                          <td>
                            {{ growerData.email }}
                          </td>
                        </tr>

                        <tr>
                          <td><B>ג''ח</B></td>
                          <td class="text-truncate row_padding">
                            <div
                              *ngIf="
                                rows[0].pa_Counter.length === 0;
                                else elseBlock
                              "
                            >
                              <span>אין</span>
                            </div>
                            <ng-template
                              #elseBlock
                              style="padding: none !important"
                            >
                              <button
                                id="gidolHotzBtn"
                                style="
                                  color: blue;
                                  background-color: white !important;
                                  border: none;
                                "
                                (click)="
                                  getPartner(
                                    rows[0].farm_id,
                                    rows[0].active_flock_id,
                                    rows[0].lull2000_code
                                  )
                                "
                              >
                                {{ rows[0].is_has_partner }} ({{
                                  rows[0].cd_gidul
                                }})
                              </button>
                            </ng-template>
                          </td>
                        </tr>

                        <!-- <tr class="numKannat"></tr> -->
                        <tr
                          *ngFor="let row of kannatNum_and_oldMegadelNum"
                          class=""
                        >
                          <!-- <th>{{ row.MsvkExtrnl }}</th> -->
                          <th>{{ row.NameMsvkExt }}</th>
                          <!-- <th>{{ row.No_Siduri }}</th> -->
                          <th>{{ row.YazExtrnl }}</th>
                        </tr>

                        <tr>
                          <td
                            style="cursor: pointer; color: green"
                            (click)="openPopup_more_info_grower()"
                            id="moreInfoBtn"
                          >
                            פרטים נוספים
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-container>
          </m-card>
        </div>
        <!-- סיום טבלת פרטי מגדל ------------------------------------------------------------------------------------------------------------------------>
      </div>

      <!-- טבלת פרטי משקים ------------------------------------------------------------------------------------------------------------------------>
      <div *ngIf="isLoading_FarmDetails" class="loader"></div>

      <div class="row match_height">
        <div id="recent-transactions" class="col-12">
          <div class="card">
            <div class="card-header"></div>
            <div class="card-content">
              <div class="exel_and_total">
                <div class="importBth">
                  <div class="justify-content">
                    <img
                      class="logoIngStyle"
                      src="assets/images/logo/excel.png"
                      alt="Image"
                      (click)="getExcelDataFarmDetails()"
                    />
                  </div>
                </div>
                <div class="totalFarms">סהכ אתרים : {{ totalFarms }}</div>
              </div>

              <div *ngIf="!isLoading_FarmDetails" class="table-container">
                <table
                  class="table table-hover table-xl border_bottom detailsTable"
                  style="direction: rtl"
                >
                  <thead class="detailsTable">
                    <tr>
                      <th scope="col" class="border-top-0">מס' רישיון :</th>
                      <th scope="col" class="border-top-0">שם אתר:</th>

                      <th scope="col" class="border-top-0">יישוב</th>
                      <th scope="col" class="border-top-0">ק. השתייכות</th>
                      <th scope="col" class="border-top-0">סוג משק</th>
                      <th scope="col" class="border-top-0">סוג מבנה</th>

                      <!-- <th scope="col" class="border-top-0">סוג הובלה</th> -->

                      <th scope="col" class="border-top-0">לול למחיצה</th>

                      <th scope="col" class="border-top-0">יש היתר אכלוס</th>

                      <th scope="col" class="border-top-0">תנאי אימון</th>

                      <th scope="col" class="border-top-0">מס גוש</th>
                      <th scope="col" class="border-top-0">מס להקה</th>

                      <th scope="col" class="border-top-0">תאריך בקיעה</th>

                      <th scope="col" class="border-top-0">גיל בשבועות</th>

                      <th scope="col" class="border-top-0">גיל בחודשים</th>
                      <th scope="col" class="border-top-0">קיבולת לול</th>
                      <th scope="col" class="border-top-0">איכלוס</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of rows">
                      <td class="text-truncate row_padding">
                        {{ row.farm_code }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.farm_name }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.settlement_name }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.belonging_group_name }}
                      </td>

                      <td class="text-truncate row_padding">{{ row.name }}</td>
                      <td class="text-truncate row_padding">
                        {{ row.hen_house_type_name }}
                      </td>

                      <td class="text-truncate row_padding">
                        <span
                          *ngIf="
                            row.is_hen_house_split == 1 &&
                            splitHenHouseNum == -1
                          "
                          >יש - {{ row.farm_code }}</span
                        >

                        <span
                          *ngIf="
                            row.is_hen_house_split == 1 &&
                            splitHenHouseNum != -1
                          "
                          >יש - {{ row.farm_code }}/{{ splitHenHouseNum }}</span
                        >
                        <span
                          *ngIf="row.is_hen_house_split == 0"
                          style="color: red"
                          >X</span
                        >
                      </td>

                      <td class="text-truncate row_padding">
                        <div [ngSwitch]="row.is_business_licenses">
                          <span *ngSwitchCase="'1'" style="color: green"
                            >√</span
                          >
                          <span *ngSwitchCase="'0'" style="color: red">X</span>
                        </div>
                      </td>

                      <td
                        class="text-truncate row_padding"
                        [ngSwitch]="row.is_not_allow_population_hatcher"
                      >
                        <span *ngSwitchCase="'0'" style="color: green">√</span>
                        <span *ngSwitchCase="'1'" style="color: red">X</span>
                      </td>

                      <td class="text-truncate row_padding">
                        <span *ngIf="row.block_id"
                          >{{ row.block_id }} ({{ row.block_count }})</span
                        >
                        <span *ngIf="!row.block_id" style="color: red">X</span>
                      </td>
                      <td class="text-truncate row_padding">
                        {{ row.active_flock_id }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.flock_hatch_date | date : "dd/MM/yyyy" }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.flock_week_age }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.flock_month_age }}
                      </td>
                      <td class="text-truncate row_padding">
                        {{ row.kibolet_lul | numberFormat }}
                      </td>
                      <td class="text-truncate row_padding">
                        {{ row.hiclos_number | numberFormat }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--סיום טבלת פרטי משקים ------------------------------------------------------------------------------------------------------------------------>

      <!-- Modal ------------------------------------------------------------------------------------------------------------------------>
      <div
        class="modal"
        id="growerModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center">
            <div class="modal-content" style="width: 500px">
              <app-grower-details
                *ngIf="modalGrowerID"
                [growerID]="modalGrowerID"
              ></app-grower-details>
            </div>
          </div>
        </div>
      </div>

      <button
        id="btnModalGrower"
        (click)="test()"
        style="display: none"
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#growerModal"
      ></button>

      <!-- Modal -->
      <div
        class="modal"
        id="growerModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center">
            <div class="modal-content" style="width: 500px">
              <app-grower-details
                *ngIf="modalGrowerID"
                [growerID]="modalGrowerID"
              ></app-grower-details>
            </div>
          </div>
        </div>
      </div>
      <!--and Modal ------------------------------------------------------------------------------------------------------------------------>

      <!--/ Basic Horizontal Timeline -->
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
