<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <!-- eCommerce statistic ------------------------------------------------------------------------------------------------------------------------>
      <div class="row" style="direction: rtl">
        <div class="col-xl-3 col-lg-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body card_padding">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="info">רב שנתי</h3>
                    <h6>פרטים מורחבים</h6>
                  </div>
                  <div>
                    <i
                      class="icon-basket-loaded info font-large-2 float-right"
                    ></i>
                  </div>
                </div>
                <div class="mb-0 mt-1">
                  <ngb-progressbar
                    height="7px"
                    width="100%"
                    type="gradient-x-info"
                    [value]="80"
                  ></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body card_padding">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="warning">תעודות</h3>
                    <h6>פרטי תעודות</h6>
                  </div>
                  <div>
                    <i
                      class="icon-pie-chart warning font-large-2 float-right"
                    ></i>
                  </div>
                </div>
                <div class="mb-0 mt-1">
                  <ngb-progressbar
                    height="7px"
                    width="100%"
                    type="gradient-x-warning"
                    [value]="65"
                  >
                  </ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body card_padding">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="success">סיכום חודשי</h3>
                    <h6>פרטי סיכום חודשי</h6>
                  </div>
                  <div>
                    <i
                      class="icon-user-follow success font-large-2 float-right"
                    ></i>
                  </div>
                </div>
                <div class="mb-0 mt-1">
                  <ngb-progressbar
                    height="7px"
                    width="100%"
                    type="gradient-x-success"
                    [value]="75"
                  ></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
          <div class="card pull-up">
            <div class="card-content">
              <div class="card-body card_padding">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <h3 class="danger">כרטיס מגדל</h3>
                    <h6>פרטי מגדל</h6>
                  </div>
                  <div>
                    <i class="icon-heart danger font-large-2 float-right"></i>
                  </div>
                </div>
                <div class="mb-0 mt-1">
                  <ngb-progressbar
                    height="7px"
                    width="100%"
                    type="gradient-x-danger"
                    [value]="85"
                  ></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ eCommerce statistic ------------------------------------------------------------------------------------------------------------------------>

      <!-- Products sell and New Orders ------------------------------------------------------------------------------------------------------------------------>
      <div class="row">
        <!-- טבלה מכסות ------------------------------------------------------------------------------------------------------------------------>
        <div class="col-xl-3 col-12">
          <div *ngIf="isLoading_FarmDetails" class="loader"></div>

          <div class="row match_height">
            <div id="recent-transactions" class="col-12">
              <div class="card card-micsa">
                <div class="card-header"></div>
                <div class="card-content">
                  <div class="exel_and_total">
                    <div class="importBth">
                      <div class="justify-content">
                        <img
                          class="logoIngStyle"
                          src="assets/images/logo/excel.png"
                          alt="Image"
                          (click)="getExcelDataFarmDetails()"
                        />
                      </div>
                    </div>
                    <h1>התראות</h1>
                  </div>

                  <div
                    *ngIf="!isLoading_FarmDetails"
                    class="table-responsive"
                    fxFlex="auto"
                    [perfectScrollbar]="config"
                  >

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--סיום טבלה מכסות ------------------------------------------------------------------------------------------------------------------------>

        <!-- טבלה מכסות ------------------------------------------------------------------------------------------------------------------------>
        <div class="col-xl-5 col-12">
          <div *ngIf="isLoading_FarmDetails" class="loader"></div>

          <div class="row match_height">
            <div id="recent-transactions" class="col-12">
              <div class="card card-micsa">
                <div class="card-header"></div>
                <div class="card-content">
                  <div class="exel_and_total">
                    <div class="importBth">
                      <div class="justify-content">
                        <img
                          class="logoIngStyle"
                          src="assets/images/logo/excel.png"
                          alt="Image"
                          (click)="getExcelDataFarmDetails()"
                        />
                      </div>
                    </div>
                    <h1>מכסות</h1>
                    <!-- <div class="totalFarms">סהכ אתרים : {{ totalFarms }}</div> -->
                  </div>

                  <div
                    *ngIf="!isLoading_FarmDetails"
                    class="table-responsive"
                    fxFlex="auto"
                    [perfectScrollbar]="config"
                  >
                    <table
                      class="table table-hover table-xl border_bottom detailsTable"
                      style="direction: rtl"
                    >
                      <thead class="detailsTable">
                        <tr>
                          <th scope="col" class="border-top-0">סוג:</th>
                          <th scope="col" class="border-top-0">שם סוג מכסה:</th>
                          <th scope="col" class="border-top-0">סוג תוספת:</th>
                          <th scope="col" class="border-top-0">כמות</th>
                          <th scope="col" class="border-top-0">מתאריך</th>
                          <th scope="col" class="border-top-0">אחוז</th>
                          <th scope="col" class="border-top-0">הערה</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of mihsot">
                          <td class="text-truncate row_padding">
                            {{ row.mi_sug_mcsa }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.nameSugMcsa }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.nameSugMcsa7 }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.mi_kamut }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.mi_date_from }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.mi_ahuz }}
                          </td>

                          <td class="text-truncate row_padding">
                            {{ row.mi_remark }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--סיום טבלה מכסות ------------------------------------------------------------------------------------------------------------------------>

        <!-- טבלת פרטי מגדל ------------------------------------------------------------------------------------------------------------------------>
        <div *ngIf="isLoading_theUserDetails" class="loader"></div>

        <div
          *ngIf="!isLoading_theUserDetails"
          class="col-xl-4 col-lg-12 growerDetails"
        >
          <m-card
            [options]="options"
            (reloadFunction)="reloadNewOrders($event)"
          >
            <ng-container mCardHeaderTitle> פרטי מגדל</ng-container>
            <ng-container mCardContent>
              <div id="new-orders" class="media-list position-relative">
                <div class="table-responsive">
                  <div>
                    <table class="table" style="direction: rtl">
                      <tbody>
                        <tr>
                          <td><B>שם יצרן</B></td>
                          <td>{{ theUserDetails.yz_shem }}</td>

                          <td><B>כתובת</B></td>
                          <td>
                            {{
                              growerData.address + "," + growerData.city_name
                            }}
                          </td>
                        </tr>
                        <tr>
                          <td><B>מספר יצרן</B></td>
                          <td>{{ theUserDetails.yz_yzrn }}</td>

                          <td><B>מיקוד</B></td>
                          <td>
                            {{ growerData.v_mikud }}
                          </td>
                        </tr>
                        <tr>
                          <td><B>ת.ז</B></td>
                          <td>{{ theUserDetails.yz_zehut }}</td>

                          <td><B>טלפון</B></td>
                          <td>
                            {{ growerData.tel1 }}
                          </td>
                        </tr>
                        <tr>
                          <td><B>ישוב</B></td>
                          <td>{{ theUserDetails.yz_shem_yeshuv }}</td>

                          <td>
                            <B>טלפון נוסף</B>
                          </td>
                          <td>
                            {{ growerData.tel2 }}
                          </td>
                        </tr>
                        <tr>
                          <td><B>סוג מגדל</B></td>
                          <td [ngSwitch]="theUserDetails.yz_sug">
                            <span *ngSwitchCase="'1'">ראשי</span>
                            <span *ngSwitchCase="'2'">שותף</span>
                            <span *ngSwitchCase="'3'">פרטני</span>
                          </td>
                          <td><B>מייל</B></td>
                          <td>
                            {{ growerData.email }}
                          </td>
                        </tr>

                        <tr>
                          <td><B>ג''ח</B></td>
                          <td>{{ theUserDetails.pa_Counter }}</td>
                        </tr>
                        <tr>
                          <td><B>סטטוס</B></td>
                          <td [ngSwitch]="theUserDetails.yz_is_activ">
                            <span *ngSwitchCase="'1'">לא פעיל</span>
                            <span *ngSwitchDefault>פעיל</span>
                          </td>
                        </tr>
                        <tr>
                          <th><B>קוד</B></th>
                          <th><B>סידורי</B></th>
                          <th><B>תאור</B></th>
                          <th><B>מגדל זר</B></th>
                        </tr>
                        <tr *ngFor="let row of kannatNum_and_oldMegadelNum">
                          <th>{{ row.MsvkExtrnl }}</th>
                          <th>{{ row.NameMsvkExt }}</th>
                          <th>{{ row.No_Siduri }}</th>
                          <th>{{ row.YazExtrnl }}</th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-container>
          </m-card>
        </div>
        <!-- סיום טבלת פרטי מגדל ------------------------------------------------------------------------------------------------------------------------>
      </div>

      <!-- טבלת פרטי משקים ------------------------------------------------------------------------------------------------------------------------>
      <div *ngIf="isLoading_FarmDetails" class="loader"></div>

      <div class="row match_height">
        <div id="recent-transactions" class="col-12">
          <div class="card">
            <div class="card-header"></div>
            <div class="card-content">
              <div class="exel_and_total">
                <div class="importBth">
                  <div class="justify-content">
                    <img
                      class="logoIngStyle"
                      src="assets/images/logo/excel.png"
                      alt="Image"
                      (click)="getExcelDataFarmDetails()"
                    />
                  </div>
                </div>
                <div class="totalFarms">סהכ אתרים : {{ totalFarms }}</div>
              </div>

              <div
                *ngIf="!isLoading_FarmDetails"
                class="table-responsive"
                fxFlex="auto"
                [perfectScrollbar]="config"
              >
                <table
                  class="table table-hover table-xl border_bottom detailsTable"
                  style="direction: rtl"
                >
                  <thead class="detailsTable">
                    <tr>
                      <th scope="col" class="border-top-0">מס' רישיון :</th>
                      <th scope="col" class="border-top-0">שם אתר:</th>

                      <th scope="col" class="border-top-0">יישוב</th>
                      <th scope="col" class="border-top-0">ק. השתייכות</th>
                      <th scope="col" class="border-top-0">סוג משק</th>
                      <th scope="col" class="border-top-0">סוג מבנה</th>

                      <!-- <th scope="col" class="border-top-0">סוג הובלה</th> -->

                      <th scope="col" class="border-top-0">לול למחיצה</th>

                      <th scope="col" class="border-top-0">יש היתר אכלוס</th>

                      <th scope="col" class="border-top-0">תנאי אימון</th>

                      <th scope="col" class="border-top-0">מס גוש</th>
                      <th scope="col" class="border-top-0">מס להקה</th>

                      <th scope="col" class="border-top-0">תאריך בקיעה</th>

                      <th scope="col" class="border-top-0">גיל בשבועות</th>

                      <th scope="col" class="border-top-0">גיל בחודשים</th>
                      <th scope="col" class="border-top-0">קיבולת לול</th>
                      <th scope="col" class="border-top-0">מכסה</th>

                      <th scope="col" class="border-top-0">גידול חוץ</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of rows">
                      <td class="text-truncate row_padding">
                        {{ row.farm_code }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.farm_name }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.settlement_name }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.belonging_group_name }}
                      </td>

                      <td class="text-truncate row_padding">{{ row.name }}</td>
                      <td class="text-truncate row_padding">
                        {{ row.hen_house_type_name }}
                      </td>


                      <td class="text-truncate row_padding">
                        <span
                          *ngIf="
                            row.is_hen_house_split == 1 &&
                            splitHenHouseNum == -1
                          "
                          >יש - {{ row.farm_code }}</span
                        >

                        <span
                          *ngIf="
                            row.is_hen_house_split == 1 &&
                            splitHenHouseNum != -1
                          "
                          >יש - {{ row.farm_code }}/{{ splitHenHouseNum }}</span
                        >
                        <span
                          *ngIf="row.is_hen_house_split == 0"
                          style="color: red"
                          >X</span
                        >
                      </td>

                      <td class="text-truncate row_padding">
                        <div [ngSwitch]="row.is_business_licenses">
                          <span *ngSwitchCase="'1'" style="color: green"
                            >√</span
                          >
                          <span *ngSwitchCase="'0'" style="color: red">X</span>
                        </div>
                      </td>

                      <td
                        class="text-truncate row_padding"
                        [ngSwitch]="row.is_not_allow_population_hatcher"
                      >
                        <span *ngSwitchCase="'0'" style="color: green">√</span>
                        <span *ngSwitchCase="'1'" style="color: red">X</span>
                      </td>

                      <td class="text-truncate row_padding">
                        <span *ngIf="row.block_id"
                          >{{ row.block_id }} ({{ row.block_count }})</span
                        >
                        <span *ngIf="!row.block_id" style="color: red">X</span>
                      </td>
                      <td class="text-truncate row_padding">
                        {{ row.active_flock_id }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.flock_hatch_date | date : "dd/MM/yyyy" }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.flock_week_age }}
                      </td>

                      <td class="text-truncate row_padding">
                        {{ row.flock_month_age }}
                      </td>
                      <td class="text-truncate row_padding">
                        {{ row.kibolet_lul }}
                      </td>
                      <td class="text-truncate row_padding">
                        {{ row.mcsa_kvua }}
                      </td>

                      <td class="text-truncate row_padding">
                        <div
                          *ngIf="row.pa_Counter.length === 0; else elseBlock"
                        >
                          <span>אין</span>
                        </div>
                        <ng-template #elseBlock>
                          <button
                            (click)="
                              getPartner(
                                row.farm_id,
                                row.active_flock_id,
                                row.lull2000_code
                              )
                            "
                          >
                            {{ row.is_has_partner }} ({{ row.cd_gidul }})
                          </button>

                          <button (click)="openPopup()">Open Pop-up</button>
                        </ng-template>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--סיום טבלת פרטי משקים ------------------------------------------------------------------------------------------------------------------------>

      <!-- Modal ------------------------------------------------------------------------------------------------------------------------>
      <div
        class="modal"
        id="growerModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center">
            <div class="modal-content" style="width: 500px">
              <app-grower-details
                *ngIf="modalGrowerID"
                [growerID]="modalGrowerID"
              ></app-grower-details>
            </div>
          </div>
        </div>
      </div>

      <button
        id="btnModalGrower"
        (click)="test()"
        style="display: none"
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#growerModal"
      ></button>

      <!-- Modal -->
      <div
        class="modal"
        id="growerModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center">
            <div class="modal-content" style="width: 500px">
              <app-grower-details
                *ngIf="modalGrowerID"
                [growerID]="modalGrowerID"
              ></app-grower-details>
            </div>
          </div>
        </div>
      </div>
      <!--and Modal ------------------------------------------------------------------------------------------------------------------------>

      <!--/ Basic Horizontal Timeline -->
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
