<form
  class="form form-horizontal row-separator"
  (ngSubmit)="add()"
  [formGroup]="DetailsForm"
  (keyup.enter)="add()"
>
  <div class="form-body text-right">
    <!-- <h4 class="form-section"><i class="la la-eye"></i> תעודות:</h4> -->
    <div class="row" style="margin-top: 40px">
      <!-- date from -->
      <div class="col-md-2">
        <div class="form-group row mx-auto">
          <label class="col-md-4 label-control" for="startDate">מתאריך</label>
          <div class="col-md-8">
            <input
              placeholder="{{ startDateControl_placeHolder.substr(0, 4) }}/{{
                startDateControl_placeHolder.substr(4, 2)
              }}/{{ startDateControl_placeHolder.substr(6, 2) }}"
              type="text"
              id="startDateControl-input"
              name="startDate"
              ngbDatepicker
              #d1="ngbDatepicker"
              class="form-control border-primary textUserInput"
              [(ngModel)]="startDate"
              [formControl]="startDateControl"
              (keydown.enter)="$event.preventDefault()"
            />
            <div class="input-group-append">
              <div class="input-group-text" (click)="d1.toggle()">
                <i class="fa fa-calendar" style="cursor: pointer"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- date to -->
      <div class="col-md-2">
        <div class="form-group row mx-auto">
          <label class="col-md-4 label-control" for="endDate">עד תאריך</label>
          <div class="col-md-8">
            <input
              placeholder="{{ endDateControl_placeHolder.substr(0, 4) }}/{{
                endDateControl_placeHolder.substr(4, 2)
              }}/{{ endDateControl_placeHolder.substr(6, 2) }}"
              type="text"
              id="endDateControl-input"
              name="endDate"
              ngbDatepicker
              #d2="ngbDatepicker"
              class="form-control border-primary textUserInput"
              [(ngModel)]="initialEndDate"
              [formControl]="endDateControl"
              (keydown.enter)="$event.preventDefault()"
            />
            <div class="input-group-append">
              <div class="input-group-text" (click)="d2.toggle()">
                <i class="fa fa-calendar" style="cursor: pointer"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- בחר שנה -->
      <div class="year-select rtl_Style col-md-2" style="padding-top: 23px">
        שנה:
        <select [(ngModel)]="chosenYear" [formControl]="chosenYearControl">
          <option *ngFor="let year of years" [value]="year">
            {{ year }}
          </option>
        </select>
      </div>

      <!-- בחר אתר -->
      <div class="year-select rtl_Style col-md-2" style="padding-top: 23px">
        אתר:
        <select [(ngModel)]="chosenSite" [formControl]="chosenSiteControl">
          <option *ngFor="let obj of this.siteName" [value]="obj.code">
            {{ obj.code }}
          </option>
        </select>
      </div>

      <!-- בחר שלוחה -->
      <div class="year-select rtl_Style col-md-3" style="padding-top: 23px">
        שלוחה:
        <select [(ngModel)]="chosenShloha" [formControl]="chosenShlohaControl">
          <option
            *ngFor="let obj of this.shlohot_cartificate"
            [value]="obj.code"
          >
            {{ obj.name }}
          </option>
        </select>
      </div>

      <div class="col-md-1" style="">
        <button
          class="btn btn-warning"
          style="
            margin: 15px !important;
            font-size: 25px !important;
            background-color: #3498db !important;
            border: none;
          "
          type="submit"
        >
          חפש
        </button>
      </div>
      <!--EXEL כפתור-->
      <div class="importBth">
        <div class="justify-content importBth_div">
          <img
            style="height: 35px; margin-right: 10px"
            class=""
            src="assets/images/logo/excel.png"
            alt="Image"
            (click)="getExcelDataFarmDetails()"
          />
          <p>({{ this.data.length }})</p>
        </div>
      </div>
    </div>

    <div *ngIf="isLoading_FarmDetails" class="loader"></div>
    <div
      *ngIf="!isLoading_FarmDetails"
      class="mainTableClass"
      style="
        font-weight: bold;
        font-size: 18px !important;
        width: 100% !important;
      "
    >
      <table class="" style="direction: rtl; width: 100%">
        <thead class="detailsTable">
          <tr class="the_tatle_res_table">
            <th scope="col" class="border-top-0">תעודה</th>
            <th scope="col" class="border-top-0">אתר</th>

            <th scope="col" class="border-top-0">להקה</th>
            <th scope="col" class="border-top-0">תוצ</th>
            <th scope="col" class="border-top-0">תאריך</th>
            <th scope="col" class="border-top-0">כמות</th>
            <th scope="col" class="border-top-0">מצטבר</th>
            <th scope="col" class="border-top-0">משווק</th>
            <th scope="col" class="border-top-0">דף</th>
            <th scope="col" class="border-top-0">חודש</th>
            <th scope="col" class="border-top-0">רטרו</th>
            <th scope="col" class="border-top-0">בקיעה</th>
            <th scope="col" class="border-top-0">סיום שיווק</th>
            <th scope="col" class="border-top-0">הפרש ימי בקיעה</th>
            <th scope="col" class="border-top-0">שם קבלן</th>
            <th scope="col" class="border-top-0">אתר</th>
            <th scope="col" class="border-top-0">ID</th>
            <th scope="col" class="border-top-0">תאריך יצירה</th>
          </tr>
        </thead>

        <tbody>
          <tr
            class="the_res_table"
            *ngFor="let row of paginatedData"
            [class.green-background]="activeColor"
            [class.red-background]="notActiveColor"
          >
            <!-- <th scope="col" class="border-top-0">תעודה</th> -->
            <td class="text-truncate row_padding">
              <a [routerLink]="['/dashboard/ecommerce']"> {{ row.td_teuda }}</a>
            </td>
            <!-- <th scope="col" class="border-top-0" אתר</th> -->
            <ng-container *ngIf="row.farm_status_id === 1; else closedTemplate">
              <td class="text-truncate row_padding">
                <p style="">{{ row.Td_Atar }}</p>
              </td>
            </ng-container>
            <ng-template #closedTemplate>
              <td class="text-truncate row_padding">
                <p style="">{{ row.Td_Atar }}</p>
              </td>
            </ng-template>
            <!-- <th scope="col" class="border-top-0">להקה</th> -->
            <td class="text-truncate row_padding">
              {{ row.flock_id }}
            </td>

            <!-- <th scope="col" class="border-top-0">תוצ </th> -->
            <td class="text-truncate row_padding">
              {{ row.td_tzrt }}
            </td>

            <!-- <th scope="col" class="border-top-0">תאריך </th> -->
            <td class="text-truncate row_padding">
              <!-- {{ row.td_date | date : "dd/MM/yyyy" }}  -->
              {{ row.td_date | date : "dd/MM/yyyy" }}
            </td>

            <!-- <th scope="col" class="border-top-0">כמות </th> -->
            <td class="text-truncate row_padding">
              {{ row.td_kamut_mishkal }}
            </td>

            <!-- <th scope="col" class="border-top-0">מצטבר </th> -->
            <td class="text-truncate row_padding">
              {{ row.td_kamut_mishkal }}
            </td>

            <!-- <th scope="col" class="border-top-0">משווק </th> -->
            <td class="text-truncate row_padding">
              {{ row.td_msvk }} - {{ row.tb_name }}
            </td>

            <!-- <th scope="col" class="border-top-0">דף </th> -->
            <td class="text-truncate row_padding">
              {{ row.td_daf }}
            </td>
            <!-- <th scope="col" class="border-top-0">חודש </th> -->
            <td class="text-truncate row_padding">
              {{ row.td_hodesh }}
            </td>
            <!-- <th scope="col" class="border-top-0">רטרו </th> -->
            <td class="text-truncate row_padding">
              {{ row.td_retro }}
            </td>
            <!-- <th scope="col" class="border-top-0">בקיעה </th> -->
            <td class="text-truncate row_padding">
              {{ row.td_hanpaka }}
            </td>

            <!-- <th scope="col" class="border-top-0">סיום שיווק" </th> -->
            <td class="text-truncate row_padding">
              {{ row.dateupd }}
            </td>

            <!-- <th scope="col" class="border-top-0">הפרש ימי שיווק בקיעה" </th> -->
            <td class="text-truncate row_padding">
              {{ row.hanpaka }}
            </td>

            <!-- <th scope="col" class="border-top-0">שם קבלן"</th> -->
            <td class="text-truncate row_padding">
              {{ row.pr_kbln_name }}
            </td>

            <!-- <th scope="col" class="border-top-0">אתר איידי</th> -->
            <td class="text-truncate row_padding">
              {{ row.Atar_Id }}
            </td>

            <!-- <th scope="col" class="border-top-0">ID /th> -->
            <td class="text-truncate row_padding">
              {{ row.id_td }}
            </td>

            <!-- <th scope="col" class="border-top-0">תאריך יצירה" /th> -->
            <td class="text-truncate row_padding">
              <!-- {{ row.date_Creat | date : "dd/MM/yyyy" }} -->
              {{ row.date_Creat }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn-pages">
        <button
          (click)="previousPage()"
          [disabled]="currentPage === 1"
          class="btn btn-warning"
          style="
            margin: 15px !important;
            font-size: 25px !important;
            background-color: #3498db !important;
          "
        >
          קודם
        </button>
        <button
          class="btn btn-warning"
          style="
            margin: 15px !important;
            font-size: 25px !important;
            background-color: #3498db !important;
          "
          (click)="nextPage()"
          [disabled]="currentPage * itemsPerPage >= data.length"
        >
          הבא
        </button>
      </div>
    </div>
  </div>
</form>
