<form
  class="form form-horizontal row-separator"
  (ngSubmit)="add()"
  [formGroup]="DetailsForm"
  (keyup.enter)="add()"
>
  <div class="form-body text-right">
    <h4 class="form-section"><i class="la la-eye"></i> תעודות:</h4>
    <div class="row">
      <!-- date from -->
      <div class="col-md-2">
        <div class="form-group row mx-auto">
          <label class="col-md-4 label-control" for="startDate">מתאריך</label>
          <div class="col-md-8">
            <input
              placeholder="yyyy-mm-dd"
              type="text"
              id="startDateControl-input"
              name="startDate"
              ngbDatepicker
              #d1="ngbDatepicker"
              class="form-control border-primary textUserInput"
              [(ngModel)]="startDate"
              [formControl]="startDateControl"
              (keydown.enter)="$event.preventDefault()"
            />
            <div class="input-group-append">
              <div class="input-group-text" (click)="d1.toggle()">
                <i class="fa fa-calendar" style="cursor: pointer"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- date to -->
      <div class="col-md-2">
        <div class="form-group row mx-auto">
          <label class="col-md-4 label-control" for="endDate">עד תאריך</label>
          <div class="col-md-8">
            <input
              placeholder="yyyy-mm-dd"
              type="text"
              id="endDateControl-input"
              name="endDate"
              ngbDatepicker
              #d2="ngbDatepicker"
              class="form-control border-primary textUserInput"
              [(ngModel)]="initialEndDate"
              [formControl]="endDateControl"
              (keydown.enter)="$event.preventDefault()"
            />
            <div class="input-group-append">
              <div class="input-group-text" (click)="d2.toggle()">
                <i class="fa fa-calendar" style="cursor: pointer"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- בחר שנה -->
      <div class="year-select rtl_Style col-md-2" style="padding-top: 23px">
        שנה:
        <select [(ngModel)]="chosenYear" [formControl]="chosenYearControl">
          <option *ngFor="let year of years" [value]="year">
            {{ year }}
          </option>
        </select>
      </div>

      <!-- בחר אתר -->
      <div class="year-select rtl_Style col-md-2" style="padding-top: 23px">
        אתר:
        <select [(ngModel)]="chosenSite" [formControl]="chosenSiteControl">
          <option *ngFor="let obj of this.siteName" [value]="obj.code">
            {{ obj.code }}
          </option>
        </select>
      </div>

      <!-- בחר שלוחה -->
      <div class="year-select rtl_Style col-md-2" style="padding-top: 23px">
        שלוחה:
        <select [(ngModel)]="chosenShloha" [formControl]="chosenShlohaControl">
          <option *ngFor="let obj of this.grower_extention_name" [value]="obj">
            {{ obj }}
          </option>
        </select>
      </div>

      <div class="col-md-2" style="padding-top: 23px">
        <button type="submit">חפש</button>
      </div>
    </div>

    <!-- Color Checkboxes start ---------------------------------------------------------------------------------------------------------------------->

    <div *ngIf="isLoading_FarmDetails" class="loader"></div>
    <div *ngIf="!isLoading_FarmDetails">
      <ngx-datatable
        class="bootstrap ps"
        [limit]="20"
        [rows]="data"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        fxFlex="auto"
        [perfectScrollbar]="config"
      >
        <ngx-datatable-column name="תעודה" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"> {{ row.td_teuda }}</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="אתר" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-container *ngIf="row.farm_status_id === 1; else closedTemplate">
              <div [class]="'text-right'">
                <a [routerLink]="['/dashboard/ecommerce']">
                  <p style="">{{ row.Td_Atar }}</p></a
                >
              </div>
            </ng-container>
            <ng-template #closedTemplate>
              <div [class]="'text-right'">
                <a [routerLink]="['/dashboard/ecommerce', row.yz_IdReal]">
                  <p style="">{{ row.Td_Atar }}</p></a
                >
              </div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="להקה" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']">{{ row.flock_id }}</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="תוצ" [flexGrow]="1" [minWidth]="30">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"> {{ row.td_tzrt }}</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="תאריך" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']">
                {{ row.td_date | date : "dd/MM/yyyy" }}</a
              >
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="כמות" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']">
                {{ row.td_kamut_mishkal }}</a
              >
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="מצטבר" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']">{{
                row.td_kamut_mishkal
              }}</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="משווק" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"
                >{{ row.td_msvk }} - {{ row.tb_name }}</a
              >
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="דף" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']">{{ row.td_daf }}</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="חודש" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce', row.yz_IdReal]">
                {{ row.td_hodesh }}</a
              >
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="רטרו" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"> {{ row.td_retro }}</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="בקיעה" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"> </a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="סיום שיווק" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"> </a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="הפרש ימי שיווק בקיעה"
          [flexGrow]="1"
          [minWidth]="90"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"> </a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="שם קבלן" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"> </a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="אתר" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"> {{ row.Atar_Id }}</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']"> {{ row.id_td }}</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="תאריך יצירה" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']">
                {{ row.date_Creat | date : "dd/MM/yyyy" }}</a
              >
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="תאריך יצירה" [flexGrow]="1" [minWidth]="90">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div [class]="'text-right'">
              <a [routerLink]="['/dashboard/ecommerce']">
                {{ row.date_Creat | date : "dd/MM/yyyy" }}</a
              >
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>


</form>
