<div class="main_div">
  <div class="userDetDiv_tatle">
    <div
      style="
        margin-left: 30px;
        display: flex;
        justify-content: center !important;
      "
    >
      <h3
        class="userDetLabel"
        style="justify-content: center !important; direction: rtl"
      >
        מחירים
      </h3>
    </div>
  </div>

  <form
    class="form form-horizontal row-separator"
    (ngSubmit)="add()"
    [formGroup]="DetailsForm"
  >
    <div class="form-body text-right">
      <div class="row" style="margin-top: 40px; direction: rtl">
        <!-- בחר סוג תשלום -->
        <div
          class="year-select rtl_Style col-md-2"
          style="padding-top: 23px; width: 300px; margin-bottom: 50px"
        >
          סוג תשלום:

          <select
            (change)="change_payment($event)"
            [(ngModel)]="payment"
            [formControl]="paymentControl"
          >
            <option *ngFor="let obj of this.type_of_payment" [value]="obj">
              {{ obj }}
            </option>
          </select>
        </div>

        <!-- בחר שלוחה -->
        <div
          class="year-select rtl_Style col-md-2"
          style="padding-top: 23px; margin-bottom: 50px; width: 400px"
        >
          שלוחה:
          <select
            [(ngModel)]="chosenShloha"
            [formControl]="chosenShlohaControl"
          >
            <option *ngFor="let obj of this.shlohot" [value]="obj.name">
              {{ obj.code }} - {{ obj.name }}
            </option>
          </select>
        </div>

        <!-- חיפוש לפי שנה -->
        <div
          class="year-select rtl_Style col-md-2"
          style="padding-top: 23px; margin-bottom: 50px"
        >
          שנה:
          <input
            [(ngModel)]="chosenYear"
            [formControl]="chosenYearControl"
            type="number"
            style="width: 125px; height: 32px; padding: 5px"
          />
          <select
            [(ngModel)]="chosenYear"
            [formControl]="chosenYearControl"
            style="width: 30px; height: 32px; margin-left: 10px"
          >
            <option *ngFor="let year of years" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>

        <!-- חיפוש לפי חודש -->
        <!-- <div class="year-select rtl_Style col-md-2" style="padding-top: 23px">
          חודש:
          <select
            [(ngModel)]="chosenMonth"
            [formControl]="chosenMonthControl"
            style="width: 125px; height: 32px; margin-left: 10px"
          >
            <option *ngFor="let month of months" [value]="month.name">
              {{ month.name }}
            </option>
          </select>
        </div> -->

        <!-- כפתור חיפוש -->
        <div class="col-md-2">
          <button class="btn btn-warning search_btn" type="submit">חפש</button>
        </div>

        <!--EXEL כפתור-->
        <!-- <div class="col-md-2 importBth" style="margin-top: 19px">
          <div class="justify-content importBth_div">
            <img
              style="height: 35px; margin-right: 10px"
              class=""
              src="assets/images/logo/excel.png"
              alt="Image"
              (click)="getExcelData()"
            />
            <p>({{ this.data.length }})</p>
          </div>
        </div> -->

        <!-- לואודר -->
        <div *ngIf="isLoading_FarmDetails" class="loader"></div>

        <!-- טבלאות -->
        <div
          *ngIf="!isLoading_FarmDetails"
          class="mainTableClass"
          style="
            font-weight: bold;
            font-size: 18px !important;
            width: 100% !important;
            height: fit-content;
          "
        >
          <!-- טבלת היטלים  -->
          <table
            *ngIf="this.open_table === '02'"
            class=""
            style="direction: rtl; width: 100%"
          >
            <thead class="detailsTable">
              <tr class="the_tatle_res_table">
                <th scope="col" class="border-top-0">שנה</th>
                <th scope="col" class="border-top-0">שלוחה</th>

                <th scope="col" class="border-top-0">מתאריך</th>
                <th scope="col" class="border-top-0">עד תאריך</th>

                <th scope="col" class="border-top-0">קרן ויסות</th>
                <th scope="col" class="border-top-0">היטל חלקי</th>
                <th scope="col" class="border-top-0">היטל</th>
                <th scope="col" class="border-top-0">עריכה</th>
              </tr>
            </thead>

            <tbody>
              <tr class="the_res_table" *ngFor="let row of data; let i = index">
                <!-- שנה -->
                <td class="">
                  {{ this.chosenYear }}
                </td>
                <!-- שלוחה -->
                <td class="">{{ row.mh_tzrt }} - {{ row.name_shloha }}</td>

                <!-- מתאריך -->
                <td class="">
                  {{ row.tk_date_from_hetelim | date : "dd/MM/yyyy" }}
                </td>

                <!-- עד תאריך -->
                <td class="">
                  {{ row.tk_date_to_hetelim | date : "dd/MM/yyyy" }}
                </td>

                <!-- קרן ויסות -->
                <td *ngIf="row.mh_mhir_visot" class="">
                  {{ row.mh_mhir_visot | number : "1.4-4" }}
                </td>
                <td *ngIf="!row.mh_mhir_visot" class="">
                  <span style="color: red; font-size: 1rem">X</span>
                </td>

                <!-- היטל חלקי -->
                <td *ngIf="row.mh_mhir_visot" class="">
                  {{
                    row.mh_mhir_hetelim - row.mh_mhir_visot | number : "1.4-4"
                  }}
                </td>
                <td *ngIf="!row.mh_mhir_visot" class="">
                  <span style="color: red; font-size: 1rem">X</span>
                </td>

                <!-- היטל -->
                <td class="">
                  {{ row.mh_mhir_hetelim | number : "1.4-4" }}
                </td>

                <!-- כפתור עריכה -->
                <td
                  style="cursor: pointer; color: green"
                  (click)="editRow(row)"
                  id="editRowBtn"
                >
                  עדכון
                  <i class="fas fa-angle-left fa-lg"></i>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- טבלת סובסידיה  -->
          <table
            *ngIf="this.open_table === '01'"
            class=""
            style="direction: rtl; width: 100%"
          >
            <thead class="detailsTable">
              <tr class="the_tatle_res_table">
                <th scope="col" class="border-top-0">שנה</th>

                <th scope="col" class="border-top-0">שלוחה</th>
                <th scope="col" class="border-top-0">מתאריך</th>
                <th scope="col" class="border-top-0">עד תאריך</th>
                <th scope="col" class="border-top-0">סוג תשלום</th>

                <th scope="col" class="border-top-0">מס</th>

                <th scope="col" class="border-top-0">מחיר</th>
              </tr>
            </thead>

            <tbody>
              <tr class="the_res_table" *ngFor="let row of data">
                <!-- שנה -->
                <td class="">
                  {{ this.chosenYear }}
                </td>

                <!-- <th scope="col" class="border-top-0">> שלוחה </th> -->
                <td class="">{{ row.mh_tzrt }} - {{ row.name_shloha }}</td>

                <!-- <th scope="col" class="border-top-0">> מתאריך </th> -->
                <td class="">
                  {{ row.tk_date_from | date : "dd/MM/yyyy" }}
                </td>

                <!-- <th scope="col" class="border-top-0">> עד תאריך </th> -->
                <td class="">
                  <!-- {{ row.td_date | date : "dd/MM/yyyy" }}  -->
                  {{ row.tk_date_to | date : "dd/MM/yyyy" }}
                </td>

                <!-- <th scope="col" class="border-top-0">> סוג תשלום</th> -->
                <td class="">
                  {{ row.payment_name }}
                </td>

                <!-- <th scope="col" class="border-top-0">> מס</th> -->
                <td class="">
                  {{ row.mh_tkufa_num }}
                </td>

                <!-- <th scope="col" class="border-top-0"> מחיר </th> -->
                <td class="">
                  {{ row.mh_mhir | number : "1.4-4" }}
                </td>
              </tr>
            </tbody>
          </table>

          <!-- טבלת  ביטוחים -->
          <table
            *ngIf="this.open_table === '03'"
            class=""
            style="direction: rtl; width: 100%"
          >
            <thead class="detailsTable">
              <tr class="the_tatle_res_table">
                <th scope="col" class="border-top-0">שנה</th>

                <th scope="col" class="border-top-0">שלוחה</th>
                <th scope="col" class="border-top-0">מתאריך</th>
                <th scope="col" class="border-top-0">עד תאריך</th>
                <th scope="col" class="border-top-0">ביטוח רגיל</th>

                <th scope="col" class="border-top-0">ביטוח ניוקאסל</th>
                <th scope="col" class="border-top-0">ביטוח סלמונלה</th>
                <th scope="col" class="border-top-0">סהכ</th>
              </tr>
            </thead>

            <tbody>
              <tr class="the_res_table" *ngFor="let row of this.data">
                <!-- <th scope="col" class="border-top-0">> שנה </th> -->
                <td class="">
                  {{ this.chosenYear }}
                </td>

                <!-- <th scope="col" class="border-top-0">> שלוחה </th> -->
                <td class="">{{ row.mh_tzrt_07 }} - {{ row.name_shloha07 }}</td>

                <!-- <th scope="col" class="border-top-0">> מתאריך </th> -->
                <td class="">
                  {{ row.tk_date_from_07 | date : "dd/MM/yyyy" }}
                </td>

                <!-- <th scope="col" class="border-top-0"> עד תאריך </th> -->
                <td class="">
                  {{ row.tk_date_to_07 | date : "dd/MM/yyyy" }}
                </td>

                <!-- <th scope="col" class="border-top-0"> ביטוח רגיל </th> -->
                <td *ngIf="row.mh_mhir_07">
                  {{ row.mh_mhir_07 | number : "1.4-4" }}
                </td>
                <td *ngIf="!row.mh_mhir_07" class="">
                  <span style="color: red; font-size: 1rem">X</span>
                </td>

                <!-- <th scope="col" class="border-top-0"> ביטוח ניוקאסל </th> -->
                <td *ngIf="row.mh_mhir_06" class="">
                  {{ row.mh_mhir_06 | number : "1.4-4" }}
                </td>
                <td *ngIf="!row.mh_mhir_06" class="">
                  <span style="color: red; font-size: 1rem">X</span>
                </td>

                <!-- <th scope="col" class="border-top-0"> ביטוח סלמונלה </th> -->
                <td *ngIf="row.mh_mhir_09" class="">
                  {{ row.mh_mhir_09 | number : "1.4-4" }}
                </td>
                <td *ngIf="!row.mh_mhir_09" class="">
                  <span style="color: red; font-size: 1rem">X</span>
                </td>

                <!-- סהכ -->
                <td class="">
                  {{ row.count | number : "1.4-4" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
