<div class="main_div">
  <div class="userDetDiv_tatle">
    <div
      style="
        margin-left: 30px;
        display: flex;
        justify-content: center !important;
      "
    >
      <h3
        class="userDetLabel"
        style="justify-content: center !important; direction: rtl"
      >
        תשלומים:
      </h3>
    </div>
  </div>

  <div class="userDetDiv">
    <div style="margin-left: 30px; display: flex">
      <p class="userDetLabel">שם:</p>
      <p class="userDetValue">{{ theUserDet[0]?.v_shem_yzrn }}</p>
    </div>

    <div style="margin-left: 30px; display: flex">
      <p class="userDetLabel">מס מגדל:</p>
      <p class="userDetValue">{{ theUserDet[0]?.v_yzrn }}</p>
    </div>

    <div style="margin-left: 30px; display: flex">
      <p class="userDetLabel">יישוב:</p>
      <p class="userDetValue">{{ theUserDet[0]?.v_shem_yeshuv }}</p>
    </div>
  </div>

  <form
    class="form form-horizontal row-separator"
    style="margin-bottom: 50px"
    (ngSubmit)="add()"
    [formGroup]="DetailsForm"
  >
    <div class="form-body text-right">
      <div class="row" style="margin-top: 40px; direction: rtl">
        <!-- חיפוש לפי שנה -->
        <div class="year-select rtl_Style col-md-2" style="padding-top: 23px">
          שנה:
          <input
            [(ngModel)]="chosenYear"
            [formControl]="chosenYearControl"
            type="number"
            style="width: 125px; height: 32px; padding: 5px"
          />
          <select
            [(ngModel)]="chosenYear"
            [formControl]="chosenYearControl"
            style="width: 30px; height: 32px; margin-left: 10px"
          >
            <option *ngFor="let year of years" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>

        <!-- בחר שלוחה -->
        <div class="year-select rtl_Style col-md-3" style="padding-top: 23px">
          שלוחה:
          <select
            [(ngModel)]="chosenShloha"
            [formControl]="chosenShlohaControl"
            (change)="change_shloha()"
          >
            <option
              *ngFor="let obj of this.shlohot_cartificate"
              [value]="obj.code"
            >
              {{ obj.name }}
            </option>
          </select>
        </div>

        <!-- בחר סוג תשלום -->
        <div class="year-select rtl_Style col-md-3" style="padding-top: 23px">
          סוג תשלום:

          <select [(ngModel)]="payment" [formControl]="paymentControl">
            <option *ngFor="let obj of this.type_of_payment" [value]="obj.code">
              {{ obj.name }}
            </option>
          </select>
        </div>

        <!-- כפתור חיפוש -->
        <div class="col-md-2">
          <button
            class="btn btn-warning"
            style="
              margin: 15px !important;
              font-size: 25px !important;
              background-color: #3498db !important;
              border: none;
            "
            type="submit"
          >
            חפש
          </button>
        </div>

        <!--EXEL כפתור-->
        <div class="col-md-2 importBth" style="margin-top: 19px">
          <div class="justify-content importBth_div">
            <img
              style="height: 35px; margin-right: 10px"
              class=""
              src="assets/images/logo/excel.png"
              alt="Image"
              (click)="getExcelData()"
            />
            <p>({{ this.data.length }})</p>
          </div>
        </div>
      </div>

      <!-- לואודר -->
      <div *ngIf="isLoading_FarmDetails" class="loader"></div>

      <!-- טבלאות -->
      <div
        *ngIf="!isLoading_FarmDetails"
        class="mainTableClass"
        style="
          font-weight: bold;
          font-size: 18px !important;
          width: 100% !important;
          height: fit-content;
        "
      >
        <!-- טבלה שמוצגת בתנאי שסוג התשלום הוא פרמיה -->
        <table
          class=""
          style="direction: rtl; width: 100%"
          *ngIf="premia_table"
        >
          <thead class="detailsTable">
            <tr class="the_tatle_res_table">
              <th scope="col" class="border-top-0">חודש</th>
              <th scope="col" class="border-top-0">חודש רטרו</th>
              <th scope="col" class="border-top-0">מדגיר</th>
              <th scope="col" class="border-top-0">שם מדגיר</th>
              <th scope="col" class="border-top-0">קבלן</th>
              <th scope="col" class="border-top-0">שם קבלן</th>
              <th scope="col" class="border-top-0">כמות</th>
              <th scope="col" class="border-top-0">מחיר רגיל</th>
              <th scope="col" class="border-top-0">תשלום רגיל</th>
              <th scope="col" class="border-top-0">מחיר ניוקאסל</th>
              <th scope="col" class="border-top-0">תשלום ניוקאסל</th>
              <th scope="col" class="border-top-0">מחיר סלמונלה</th>
              <th scope="col" class="border-top-0">תשלום סלמונלה</th>
              <th scope="col" class="border-top-0">סה''כ תשלום</th>
            </tr>
          </thead>

          <tbody>
            <tr
              class="the_res_table"
              *ngFor="let row of data"
              [class.green-background]="activeColor"
              [class.red-background]="notActiveColor"
            >
              <!-- <th scope="col" class="border-top-0">חודש</th> -->
              <td class="">
                <a [routerLink]="['/dashboard/ecommerce']">
                  {{ row.hodesh_name }}</a
                >
              </td>

              <!-- <th scope="col" class="border-top-0" >חודש רטרו</th> -->
              <td class="">
                <a [routerLink]="['/dashboard/ecommerce']">
                  {{ row.kt_Hodesh_Rtr }}</a
                >
              </td>

              <!-- <th scope="col" class="border-top-0">> מדגיר</th> -->
              <td class="">
                {{ row.kt_mdgr }}
              </td>

              <!-- <th scope="col" class="border-top-0">>שם מדגיר </th> -->
              <td class="">
                {{ row.Madgir_Name }}
              </td>

              <!-- <th scope="col" class="border-top-0">> קבלן </th> -->
              <td class="">
                <!-- {{ row.td_date | date : "dd/MM/yyyy" }}  -->
                {{ row.kt_kbln }}
              </td>

              <!-- <th scope="col" class="border-top-0">שם קבלן </th> -->
              <td class="">
                {{ row.shem_kbln }}
              </td>

              <!-- <th scope="col" class="border-top-0">כמות </th> -->
              <td class="">
                {{ row.Kamut | number : "0.0" }}
              </td>

              <!-- <th scope="col" class="border-top-0">מחיר רגיל </th> -->
              <td class="">
                {{ row.kt_Mhir }}
              </td>

              <!-- <th scope="col" class="border-top-0">> תשלום רגיל< </th> -->
              <td class="">
                {{ row.Shum_Tshlm }}
              </td>
              <!-- <th scope="col" class="border-top-0">מחיר ניוקאסל </th> -->
              <td class="">
                {{ row.kt_Mhir_Nk }}
              </td>
              <!-- <th scope="col" class="border-top-0">>>תשלום ניוקאסל  </th> -->
              <td class="">
                {{ row.Shum_Tshlm_nk }}
              </td>
              <!-- <th scope="col" class="border-top-0">>מחיר סלמונלה< </th> -->
              <td class="">
                {{ row.kt_Mhir_sl }}
              </td>

              <!-- <th scope="col" class="border-top-0">תשלום סלמונלה </th> -->
              <td class="">
                {{ row.Shum_Tshlm_sl }}
              </td>

              <!-- <th scope="col" class="border-top-0">>סהכ תשלום </th> -->
              <td class="">
                {{ row.total }}
              </td>
            </tr>
            <br />
            <tr>
              <!-- hodesh_name -->
              <td class="" style="background-color: #057eff12 !important">
                סהכ
              </td>
              <!-- kt_Hodesh_Rtr -->
              <td class="" style="background-color: #057eff12 !important"></td>
              <!-- kt_mdgr -->
              <td class="" style="background-color: #057eff12 !important"></td>
              <!-- Madgir_Name -->
              <td class="" style="background-color: #057eff12 !important"></td>
              <!-- kt_kbln -->
              <td class="" style="background-color: #057eff12 !important"></td>
              <!-- shem_kbln -->
              <td class="" style="background-color: #057eff12 !important"></td>
              <!-- Kamut -->
              <td class="" style="background-color: #057eff12 !important">
                {{ Kamut_premia | number : "0.0" }}
              </td>
              <!-- kt_Mhir -->
              <td class="" style="background-color: #057eff12 !important"></td>
              <!-- Shum_Tshlm -->
              <td class="" style="background-color: #057eff12 !important">
                {{ Shum_Tshlm_premia | number : "0.0" }}
              </td>
              <!-- kt_Mhir_Nk -->
              <td class="" style="background-color: #057eff12 !important"></td>
              <!-- Shum_Tshlm_nk -->
              <td class="" style="background-color: #057eff12 !important">
                {{ Shum_Tshlm_nk_premia | number : "0.0" }}
              </td>
              <!-- kt_Mhir_sl -->
              <td class="" style="background-color: #057eff12 !important"></td>
              <!-- Shum_Tshlm_sl -->
              <td class="" style="background-color: #057eff12 !important">
                {{ Shum_Tshlm_sl_premia | number : "0.0" }}
              </td>
              <!-- total -->
              <td class="" style="background-color: #057eff12 !important">
                {{ total_premia | number : "0.0" }}
              </td>
            </tr>
          </tbody>
        </table>

        <!-- טבלה שמוצגת בתנאי שסוג התשלום הוא שונה מפרמיה -->
        <table
          class=""
          style="direction: rtl; width: 100%"
          *ngIf="!premia_table"
        >
          <thead class="detailsTable">
            <tr class="the_tatle_res_table">
              <th scope="col" class="border-top-0">חודש</th>
              <th scope="col" class="border-top-0">משווק</th>
              <th scope="col" class="border-top-0">שם משווק</th>
              <th
                scope="col"
                *ngIf="this.paymentControl.value === '01'"
                class="border-top-0"
              >
                מכסה תשלום
              </th>
              <th *ngIf="this.paymentControl.value !== '01'"scope="col"class="border-top-0">מכסה קבועה</th>
              <th scope="col" class="border-top-0">כמות בתקופה</th>
              <th scope="col" class="border-top-0">מצטבר</th>
              <th scope="col" class="border-top-0">רטרו</th>
              <th scope="col" class="border-top-0">מחיר</th>
              <th scope="col" class="border-top-0">כמות שולמה</th>
              <th scope="col" class="border-top-0">תשלום</th>
              <th scope="col" class="border-top-0">כמות תוספת</th>
              <th scope="col" class="border-top-0">תוספת תשלום</th>
              <th scope="col" class="border-top-0">סה''כ כמות שולמה</th>
              <th scope="col" class="border-top-0">סהכ תשלום</th>
              <th scope="col" class="border-top-0">הקפאה</th>
              <th scope="col" class="border-top-0">סיבה</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let row of data"
              [class.green-background]="activeColor"
              [class.red-background]="notActiveColor"
            >
              <!-- <th scope="col" class="border-top-0">חודש</th> -->
              <td class="">
                <a [routerLink]="['/dashboard/ecommerce']">
                  {{ row.hodesh_name }}</a
                >
              </td>
              <!-- <th scope="col" class="border-top-0" משווק</th> -->
              <td class="">
                <a [routerLink]="['/dashboard/ecommerce']">
                  {{ row.kt_Msvk }}</a
                >
              </td>

              <!-- <th scope="col" class="border-top-0">>שם משווק</th> -->
              <td class="">
                {{ row.shem_msvk }}
              </td>

              <!-- <th scope="col" class="border-top-0">>או מכסה קבועה מכסה לתשלום</th> -->
              <td class="">
                {{ row.Micsa_Tshlm | number : "0.0" }}
              </td>

              <!-- <th scope="col" class="border-top-0">>כמות בתקופה </th> -->
              <td class="">
                {{ row.Kamut_In_Tkufa | number : "0.0" }}
              </td>

              <!-- <th scope="col" class="border-top-0">מצטבר </th> -->
              <td class="">
                {{ row.kt_Mztbr }}
              </td>

              <!-- <th scope="col" class="border-top-0">רטרו </th> -->
              <td class="">
                {{ row.rtro }}
              </td>

              <!-- <th scope="col" class="border-top-0">מחיר </th> -->
              <td class="">
                {{ row.kt_mhir }}
              </td>

              <!-- <th scope="col" class="border-top-0">>כמות שולמה< </th> -->
              <td class="">
                {{ row.Kamut_SHTshlm }}
              </td>
              <!-- <th scope="col" class="border-top-0">תשלום </th> -->
              <td class="">
                {{ row.Shum_Tshlm }}
              </td>
              <!-- <th scope="col" class="border-top-0">>כמות תוספת </th> -->
              <td class="">
                {{ row.HefTas }}
              </td>
              <!-- <th scope="col" class="border-top-0">>תוספת תשלום< </th> -->
              <td class="">
                {{ row.HefTas_Tshlm }}
              </td>

              <!-- <th scope="col" class="border-top-0">סה''כ כמות שולמה< </th> -->
              <td class="">
                {{ row.tot_Cam_tshlm }}
              </td>

              <!-- <th scope="col" class="border-top-0">>סהכ תשלום </th> -->
              <td class="">
                {{ row.tot_shum_tshlm }}
              </td>

              <!-- <th scope="col" class="border-top-0 הקפאה</th> -->
              <td class="">
                {{ row.SibaHakpaa }}
              </td>

              <!-- <th scope="col" class="border-top-0">סיבה/th> -->
              <td class="">
                <h3
                  (click)="openPopup_siba_table(row.kt_siba_not_tslm)"
                  class=""
                  style="cursor: pointer; color: #0000ff; margin-left: 20px"
                >
                  {{ row.kt_siba_not_tslm }}
                  <!-- <i
                    *ngIf="this.paymentControl.value === '01'"
                    class="fas fa-angle-left fa-lg"
                  ></i> -->
                </h3>
              </td>
            </tr>
            <br />
            <tr>
              <td class="" style="background-color: #057eff12 !important">
                סהכ
              </td>
              <td class="" style="background-color: #057eff12 !important"></td>

              <td class="" style="background-color: #057eff12 !important"></td>

              <td class="" style="background-color: #057eff12 !important"></td>

              <td class="" style="background-color: #057eff12 !important"></td>

              <td class="" style="background-color: #057eff12 !important"></td>

              <td class="" style="background-color: #057eff12 !important"></td>

              <td class="" style="background-color: #057eff12 !important"></td>

              <td class="" style="background-color: #057eff12 !important">
                {{ Kamut_SHTshlm | number : "0.0" }}
              </td>
              <td class="" style="background-color: #057eff12 !important">
                {{ Shum_Tshlm | number : "0.0" }}
              </td>
              <td class="" style="background-color: #057eff12 !important">
                {{ HefTas | number : "0.0" }}
              </td>
              <td class="" style="background-color: #057eff12 !important">
                {{ HefTas_Tshlm | number : "0.0" }}
              </td>

              <td class="" style="background-color: #057eff12 !important">
                {{ tot_Cam_tshlm | number : "0.0" }}
              </td>
              <td class="" style="background-color: #057eff12 !important">
                {{ tot_shum_tshlm | number : "0.0" }}
              </td>

              <td class="" style="background-color: #057eff12 !important"></td>

              <td class="" style="background-color: #057eff12 !important"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
