<div class="cool-table-container">
  <div>
    <table class="cool-table" dir="rtl" style="padding: 5px" border="0">
      <thead>
        <tr style="display: flex; padding: 40px">
          <th style="font-weight: bold; text-align: right; margin-left: 25px">
            שיווק למשק סופי ממשק {{ this.tatle_farm_code }} -
            {{ this.tatle_farm_name }}
          </th>
          <th style="font-weight: bold; text-align: right; margin-left: 25px">
            תאריך בקיעה: {{ this.flock_hatch_date | date : "dd/MM/yyyy" }} , מס
            להקה: {{ this.flock_num }}
          </th>

          <th style="font-weight: bold; text-align: right; margin-left: 30px">
            <div class="importBth">
              <div class="justify-content">
                <img
                  style="width: 40px"
                  class="logoIngStyle"
                  src="assets/images/logo/excel.png"
                  alt="Image"
                  (click)="getExcelData()"
                />
              </div>
            </div>
          </th>
        </tr>

        <tr style="display: flex; padding: 40px 40px 0px 40px">
          <th style="font-weight: bold; text-align: right; margin-left: 30px">
            <div class="date-input-container">
              <label for="startDate">מתאריך:</label>
              <div class="input-group">
                <input
                  placeholder="מתאריך"
                  class="form-control"
                  bsDatepicker
                  [(ngModel)]="startDate"
                  #dp="bsDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="toggleDatepicker()"
                  >
                    <!-- Toggle button -->
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </th>

          <th style="font-weight: bold; text-align: right; margin-left: 30px">
            <div class="date-input-container">
              <label for="endDate">עד תאריך:</label>
              <div class="input-group">
                <input
                  placeholder="עד תאריך"
                  class="form-control"
                  bsDatepicker
                  [(ngModel)]="endDate"
                  #dpTo="bsDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    (click)="toggleDatepickerTo()"
                  >
                    <!-- Toggle button -->
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </th>

          <th style="font-weight: bold; text-align: right; margin-top: 37px">
            <button (click)="search()" class="search-button">חפש</button>

            <button
              (click)="cleanInputFild()"
              class="search-button"
              style="background-color: rgb(150 150 150); margin-right: 10px"
            >
              נקה
            </button>
          </th>

          <th style="font-weight: bold; text-align: right; margin-top: 37px">
            סהכ ({{ this.data.length }})
          </th>
        </tr>

        <p class="tat_sort">תת מיון</p>
        <tr class="tr_sub_sort">
          <!-- מיון לפי מס תעודה -->
          <th
            *ngIf="this.isSplit === 'ראשי'"
            style="
              font-weight: bold;
              text-align: right;
              font-weight: bold;
              text-align: right;
              padding-right: 40px;
              padding-left: 40px;
            "
          >
            <label for="certificate_id2">מס תעודה:</label>
            <div>
              <input
                style="width: 132px"
                type="text"
                id="certificate_id2"
                [(ngModel)]="certificate_id2"
                class="blue-date-input-certificate_id2"
                (change)="set_val_of_sort_by_certificate($event)"
              />
              <button
                (click)="search_certificate_id()"
                class="search-button btn_sort_by_certificate_id"
              >
                חפש
              </button>
            </div>
          </th>

          <!-- מיון לפי מס מגדל -->
          <th
            *ngIf="this.isSplit !== 'ראשי'"
            style="
              font-weight: bold;
              text-align: right;
              font-weight: bold;
              text-align: right;
              padding-right: 40px;
              padding-left: 40px;
            "
          >
            <label for="grower_num">מס מגדל:</label>
            <div>
              <input
                style="width: 132px"
                type="text"
                id="grower_num"
                [(ngModel)]="sort_by_grower_num"
                class="blue-date-input-certificate_id2"
                (change)="set_val_of_sort_by_grower_num($event)"
              />
              <button
                (click)="search_grower_num()"
                class="search-button btn_sort_by_certificate_id"
              >
                חפש
              </button>
            </div>
          </th>

          <!-- מיון לפי שם מגדל -->
          <th
            *ngIf="this.isSplit !== 'ראשי'"
            style="
              font-weight: bold;
              text-align: right;
              font-weight: bold;
              text-align: right;
              padding-right: 40px;
              padding-left: 40px;
            "
          >
            <label for="grower_name">שם מגדל:</label>
            <div>
              <input
                style="width: 132px"
                type="text"
                id="grower_name"
                [(ngModel)]="sort_by_grower_name"
                class="blue-date-input-certificate_id2"
                (change)="set_val_of_sort_by_grower_name($event)"
              />
              <button
                (click)="search_grower_name()"
                class="search-button btn_sort_by_certificate_id"
              >
                חפש
              </button>
            </div>
          </th>

          <th style="font-weight: bold; text-align: right"></th>
        </tr>
      </thead>

      <tr>
        <td colspan="2">
          <table class="table no-margin">
            <thead>
              <tr>
                <th style="font-weight: bold; text-align: right">
                  תאריך תעודה
                </th>

                <th style="font-weight: bold; text-align: right">מס תעודה</th>

                <th style="font-weight: bold; text-align: right">
                  מס רישיון משק מקור
                </th>

                <th style="font-weight: bold; text-align: right">
                  שם משק מקור
                </th>

                <th style="font-weight: bold; text-align: right">
                  מס רישיון משק יעד
                </th>

                <th style="font-weight: bold; text-align: right">שם משק יעד</th>

                <th style="font-weight: bold; text-align: right">
                  ישוב משק יעד
                </th>

                <th style="font-weight: bold; text-align: right">
                  מס להקת יעד
                </th>

                <th style="font-weight: bold; text-align: right">
                  מס מגדל יעד
                </th>
                <th style="font-weight: bold; text-align: right">
                  שם מגדל יעד
                </th>
                <th style="font-weight: bold; text-align: right">כלובים</th>

                <th style="font-weight: bold; text-align: right">כמות עופות</th>

                <th style="font-weight: bold; text-align: right">pdf</th>
              </tr>
            </thead>

            <tbody style="white-space: nowrap">
              <tr
                *ngFor="let p of data"
                (click)="open_certificate_details(p.certificate_id)"
              >
                <!-- תאריך תעודה-->
                <td>
                  {{ p.create_date | date : "dd/MM/yyyy" }}
                </td>

                <!-- מס תעודה -->
                <td>
                  {{ p.certificate_id }}
                </td>

                <!-- מס רישיון משק מקור -->
                <td>
                  {{ p.source_farm_code }}
                </td>

                <!-- שם משק מקור -->
                <td>
                  {{ p.source_farm_name }}
                </td>

                <!-- מס רישיון משק יעד -->
                <td>
                  {{ p.farm_code }}
                </td>

                <!-- >שם משק יעד -->
                <td>
                  {{ p.farm_name }}
                </td>

                <!--  ישוב משק יעד -->
                <td>
                  {{ p.farm_settlement_name }}
                </td>

                <!--   מס להקת יעד -->
                <td>
                  {{ p.dest_flock_id }}
                </td>

                <!--  מס מגדל יעד -->
                <td>
                  {{ p.lull2000_code }}
                </td>

                <!-- שם מגדל יעד -->
                <td>
                  {{ p.grower_name }}
                </td>

                <!-- כלובים -->
                <td>
                  {{ p.package_sum }}
                </td>

                <!-- >כמות עופות -->
                <td>
                  {{ p.chicken_sum_female | number : "1.0-0" }}

                  <!-- >pdf-->
                </td>

                <!-- <td>
                        <a
                          [href]="
                            'http:\\\\epb-iis12:8006\\LulSln_net\\Mifkadim_New\\TdMs_' +
                            p.Mifkad_pdf +
                            '_' +
                            p.id_pdf +
                            '.pdf'
                          "
                          >file</a
                        >
                      </td> -->

                <td>
                  <a
                    [href]="
                      'http:\\\\epb-iis12:8006\\EvacuationChicken\\CertificateTransfer\\CERTIFICATE_TRANSFER_' +
                      p.certificate_id +
                      '-GROWER-copy.pdf'
                    "
                    >file</a
                  >
                </td>
              </tr>

              <tr>
                <td>סה''כ:</td>

                <td></td>

                <td></td>

                <td></td>

                <td></td>

                <td></td>

                <td></td>

                <td></td>

                <td></td>
                <td></td>

                <td>
                  {{ total_count_package_sum | number : "1.0-0" }}
                </td>
                <td>
                  {{ total_count_chicken | number : "1.0-0" }}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
