<div class="userDetDiv">
  <p class="userDetLabel">שם:</p>
  <p class="userDetValue">{{ theUserDet[0]?.v_shem_yzrn }}</p>
  <p class="userDetLabel">מס מגדל:</p>
  <p class="userDetValue">{{ theUserDet[0]?.v_yzrn }}</p>
  <p class="userDetLabel">כתובת:</p>
  <p class="userDetValue">{{ theUserDet[0]?.v_shem_yeshuv }}</p>
</div>

<div class="year-select rtl_Style">
  <label for="chosenYear" class="year-select-label"> </label>
  <select
    id="chosenYear"
    [(ngModel)]="chosenYear"
    (change)="new_data_on_year_change()"
  >
    <option disabled selected value="2023">בחר שנה</option>
    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
  </select>
</div>

<div *ngIf="isLoading_userDet" class="loader-gif" style=""></div>

<div class="table-container" *ngIf="!isLoading_userDet">
  <table class="data-table" dir="rtl">
    <thead>
      <tr>
        <th>שנה</th>
        <th>קוד</th>
        <th>תוצרת</th>
        <th>חודש</th>
        <th>פעילות עד חודש</th>
        <th>מכסה</th>
        <th>מצטבר</th>
        <th>יתרה</th>
      </tr>
    </thead>
    <tbody *ngIf="!loading_apinner">
      <tr *ngFor="let p of data">
        <td>{{ p.yr }}</td>
        <td>{{ p.tzrt }}</td>
        <td>{{ p.name_Tz }}</td>
        <td *ngIf="p.dates; else elseBlock2">{{ p.dates.hodesh }}</td>
        <ng-template #elseBlock2><td></td></ng-template>
        <td *ngIf="p.dates; else elseBlock3">{{ p.dates.hodnm }}</td>
        <ng-template #elseBlock3><td></td></ng-template>
        <td>{{ p.mcsa }}</td>
        <td>{{ p.mztbr }}</td>
        <td *ngIf="p.mcsa - p.mztbr > 0; else elseBlock4">
          {{ p.mcsa - p.mztbr }}
        </td>
        <ng-template #elseBlock4><td></td></ng-template>
      </tr>
    </tbody>
    <tbody *ngIf="loading_apinner">
      <div class="loader"></div>
    </tbody>
  </table>
</div>
