<!-- <div class="year-select rtl_Style col-md-2" style="padding-top: 23px">
  שנה:
  <select
    [(ngModel)]="chosenYear"
    [formControl]="chosenYearControl"
    (change)="new_data_on_year_change()"
  >
    <option *ngFor="let year of years" [value]="year">
      {{ year }}
    </option>
  </select>
</div> -->

<div class="year-select rtl_Style">
  שנה:
  <select [(ngModel)]="chosenYear" (change)="new_data_on_year_change()">
    <option *ngFor="let year of years" [value]="year">
      {{ year }}
    </option>
  </select>
</div>

<form action="">
  <table class="" dir="rtl" style="padding: 5px" border="0">
    <td colspan="2">
      <table class="table no-margin">
        <thead>
          <tr>
            <th style="font-weight: bold; text-align: right">שנה</th>
            <th style="font-weight: bold; text-align: right">קוד</th>
            <th style="font-weight: bold; text-align: right">תוצרת</th>
            <th style="font-weight: bold; text-align: right">חודש</th>
            <th style="font-weight: bold; text-align: right">פעילות עד חודש</th>
            <th style="font-weight: bold; text-align: right">מכסה</th>
            <th style="font-weight: bold; text-align: right">מצטבר</th>
            <th style="font-weight: bold; text-align: right">יתרה</th>
            <!-- <th style="font-weight: bold; text-align: right">nmatar</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of data">
            <td>{{ p.yr }}</td>
            <td>{{ p.tzrt }}</td>
            <td>{{ p.name_Tz }}</td>
            <td *ngIf="p.dates; else elseBlock2">
              {{ p.dates.hodesh }}
            </td>
            <ng-template #elseBlock2>
              <td></td>
            </ng-template>
            <td *ngIf="p.dates; else elseBlock3">
              {{ p.dates.hodnm }}
            </td>
            <ng-template #elseBlock3>
              <td></td>
            </ng-template>
            <td>{{ p.mcsa }}</td>
            <td>{{ p.mztbr }}</td>
            <td *ngIf="p.mcsa - p.mztbr > 0; else elseBlock4">
              {{ p.mcsa - p.mztbr }}
            </td>
            <ng-template #elseBlock4>
              <td></td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </td>
  </table>
</form>
